[2014-10-29 20:08] #756 closed, assigned to nobody

[2014-10-29 20:09] #767 closed, assigned to nobody

[2014-10-29 20:10] #632 closed, assigned to nobody

[2014-10-29 20:54] #781 closed, assigned to nobody

[2014-10-29 20:58] #653 closed, assigned to nobody

[2014-10-31 19:04] tmcw opened #800 "Offer source map alongside code"
We should do this so that people can debug GL, even in production.

[2014-10-31 19:27] #659 closed, assigned to edenh

[2014-11-03 19:21] peterqliu opened #802 "`line-dasharray` shimmers at [0.5, 0.5], in an undesirable manner"
![shimmer](https://cloud.githubusercontent.com/assets/4551508/4888612/8a2b8a7e-638e-11e4-94cf-c7b6c3bd3d0e.gif)
![shimmer2](https://cloud.githubusercontent.com/assets/4551508/4888611/8a1bcf4e-638e-11e4-9bfd-b71a059304b9.gif)

[2014-11-03 19:45] jfirebaugh opened #803 "text-keep-upright: true + symbol-placement: point"
"symbol-placement": "point", "text-rotation-alignment": "map", "text-keep-upright": false, 180 bearing:
![image](https://cloud.githubusercontent.com/assets/98601/4891028/1d9e4642-63a4-11e4-83e7-6e9b93b014e1.png)
(as expected)

"symbol-placement": "point", "text-rotation-alignment": "map", "text-keep-upright": true, 180 bearing:
![image](https://cloud.githubusercontent.com/assets/98601/4891055/45c6

[2014-11-03 21:23] peterqliu opened #804 "Text disappears when rotation-align = map and text-rotate >= 78.05°"
78.04°
![screen shot 2014-11-03 at 1 22 18 pm](https://cloud.githubusercontent.com/assets/4551508/4890500/9e93662e-639f-11e4-8ceb-9e8113ce6f70.png)

78.05°

![screen shot 2014-11-03 at 1 22 27 pm](https://cloud.githubusercontent.com/assets/4551508/4890504/a44df188-639f-11e4-94f8-6adbbdec2383.png)

[2014-11-03 21:39] #804 closed, assigned to nobody

[2014-11-04 14:54] aleksandr-vin opened #805 "Marker's collision performs false-positive on big zooms"
When on zoom 20-22 there are enough space between 2 markers but the second one is hidden for eternity, only *-allow-overlap helps.

Here is the sample (with *-allow-overlap's turned True -- turn them False and reload and 'P3' will be missed, then zoom-zoom-zoom)
http://jsfiddle.net/aleksandrvin/p3hsbo2p/

[2014-11-04 22:03] peterqliu opened #806 "Don't wanna have to undo old paint properties, when I transition to new paint style"
When I want to switch to `night` mode on my map, I need to undo the daytime styling of `background-image`. Ideally, I'd like style transitions to automatically "forget" the old style and revert to defaults, without me having to do so explicitly.

![screen shot 2014-11-04 at 1 57 00 pm](https://cloud.githubusercontent.com/assets/4551508/4908942/da3a98a8-646e-11e4-9985-551e281f7868.png)

This might

[2014-11-04 22:10] jfirebaugh opened #807 "flyTo example: Uncaught TypeError: Cannot read property 'call' of undefined"
Click the "Fly" button several times in succession and this error is generated.

[2014-11-04 23:23] #802 closed, assigned to nobody

[2014-11-04 23:23] #806 closed, assigned to nobody

[2014-11-04 23:25] #661 closed, assigned to ansis

[2014-11-04 23:26] #665 closed, assigned to nobody

[2014-11-05 00:20] fnicollet opened #809 "Is it possible to retrieve every font used in mapbox-gl-js for every charset-range?"
Hi,

I am trying to make mapbox work partially offline and I would like to be able to save the fonts locally. When navigating the map, it makes requests to PBF files such as:

With a range of characters I believe, such as 0-255 or when you go to china 39424-39679.pbf and so on.
It seems like the request is made when needed, surely to avoid downloading complete fonts before anything gets displayed.

[2014-11-05 00:57] fnicollet opened #810 "POI labels sometimes appear under the buildings at high zoom levels"
Just noticed an issue with the very last 0.4.0 release, when you zoom in a lot, some labels appear as being drawn under the buildings, see screenshots in IE and Chrome

![image](https://cloud.githubusercontent.com/assets/1240481/4910291/ab85cf50-647d-11e4-818e-7e8f4567619e.png)

![image](https://cloud.githubusercontent.com/assets/1240481/4910304/e3163cde-647d-11e4-8a95-90a8850ee445.png)
Can also b

[2014-11-05 00:59] #810 closed, assigned to nobody

[2014-11-05 01:00] #764 closed, assigned to nobody

[2014-11-05 05:11] #809 closed, assigned to nobody

[2014-11-06 00:17] fnicollet opened #812 "Is it possible to override "getArrayBuffer" for offline usage/fallback?"
Hello,

This is more of a question than an issue. I would like to have a fallback on local PBF files while offline, so basically instead of retrieving them via HTTP, override the behaviour and load a file from my hard drive. I can do this very easily in leaflet classic TMS layers with some code like:

[code]

Works very well and I am very happy with that behaviour that allows me to override leafle

[2014-11-06 00:43] jfirebaugh opened #813 "need to rerender prerendered layers when style classes change"
Currently, the cached prerendered textures are reused, so if the prerendered sublayers have class-specific paint properties, they aren't correctly applied.

[2014-11-06 00:49] peterqliu opened #814 "Fade fill-image when transitioning styles"
`fill-color` changes smoothly when we transition styles, but `fill-image` shows and hides abruptly. I'm assuming it's because images aren't scalar values like pixels/opacity/hex values, making it hard to interpolate. Can we at least do an opacity gradient to fade patterns in and out?

[2014-11-06 01:10] #812 closed, assigned to nobody

[2014-11-06 01:12] #814 closed, assigned to nobody

[2014-11-06 01:14] peterqliu opened #815 "'background-opacity' does not actually transition"
Does with `map.style.cascade()`, but not while changing style classes.

[2014-11-06 01:23] #815 closed, assigned to nobody

[2014-11-07 05:50] arunkmp opened #816 "Chrome Browser not supporting mapbox-gl-js"
i have two browsers (firefox and chrome) and two ubuntu(12.04 LTS) machines.

Machine 1:
Graphics Card Version:
00:02.0 VGA compatible controller: Intel Corporation Haswell Integrated Graphics Controller (rev 06)

Browser Version
Chrome : 38.0.2125.111 (64-bit)
Firefox : 32.0

Here in Chrome Browser show alert WebGL not supporting.

Machine 2:
Graphics Card Version:
01:00.0 VGA compatible controll

[2014-11-07 10:12] #816 closed, assigned to nobody

[2014-11-07 18:05] bsudekum opened #817 "map.fitBounds() error"
When using the `.fitBounds()` function, I am receiving the following error:

`Uncaught TypeError: Cannot read property 'animationLoop' of undefined`

Example: http://bl.ocks.org/rsudekum/6765ef2cff45ea42771a

If a `setTimeout` is put around the function, `fitBounds` works however.

cc @jfirebaugh @mourner

[2014-11-07 20:16] bsudekum opened #818 "Add rotate direction option .rotateTo()"
Currently, the `rotateTo()` function only allows for rotation in the clockwise direction. It would ideal if the direction could be controlled as an option or if it did it automatically in background depending on current rotation and the new specified rotation.

The use case is car navigation: if the map can rotate only one direction when taking a 90 degree left hand turn, it rotates a whole 270 de

[2014-11-08 02:11] nickidlugash opened #819 "Layers with the same features will not both be visible"
If you create two layers that have the same features (same data layer and same filters), only the layer placed first is visible, even using the `text-allow-overlap` and `text-ignore-placement` options.

For reference, I am trying to get two labels rendered for the same features in order to use `text-translate` to create a drop shadow effect.

If this is not a JS issue I can ticket elsewhere.

/cc

[2014-11-09 14:12] thomaskonrad opened #820 "osm_id returned with map.featuresAt() is always 0"
Hi,

I'm trying to get more information about a feature on the map when the user clicks on it, and therefore I need the osm_id of the object(s). Now when I retrieve the features under the mouse cursor with `featuresAt()`, the osm_id is always 0 (I have only tested it with POIs so far). Here's an example:

[code]

Now the osm_id should rather be 1031098737 in this particular case. When analyzing th

[2014-11-10 15:48] #818 closed, assigned to nobody

[2014-11-10 19:30] jenius opened #822 "Allow external icon-image"
Right now the only option for `symbol.icon-image` is a string in reference to a precompiled sprite sheet that's undocumented and very difficult for any normal user to be able to update. If the `icon-image` property would also take a URL to an image and render that, it would be fantastic. This would also mean great support for custom markers, which is a huge missing piece from mapbox gl right now.

[2014-11-10 19:38] #761 closed, assigned to jfirebaugh

[2014-11-10 20:01] fnicollet opened #823 "Can't decode a pbf served via mapbox"
Hello,

I am doing some experiments and I am trying to decode a PBF served by mapbox.com. In my case, it is not C++ but C#, so i used the C# port of protocol buffers to generate the VectorTile.cs file from the proto file 1.0.1:
https://github.com/mapbox/vector-tile-spec/blob/master/1.0.1/vector_tile.proto

I grab a PBF file from MapBox that I saved on my hard drive and use the Parse function to de

[2014-11-10 20:23] #823 closed, assigned to nobody

[2014-11-10 21:15] mourner opened #824 "Don't zoom the map if scroll is initiated outside of the map"
The idea is to track scroll events on the document and disable scroll zooming if there was a scroll event outside of the map in the last N ms. cc @tatsvc

[2014-11-10 23:56] #741 closed, assigned to nobody

[2014-11-11 00:07] #817 closed, assigned to nobody

[2014-11-11 00:26] #807 closed, assigned to nobody

[2014-11-11 02:30] #798 closed, assigned to nobody

[2014-11-11 17:35] pechitook opened #825 "Mapbox Studio on port 3000, conflicts with Meteor"
Mapbox Studio seems to be using port 3000 to serve the app itself. Meteor also uses it for its apps, so when you are developing a Meteor app, Meteor asks you to go to localhost:3000 to view it in the browser. The thing is, if you have Mapbox Studio open, the browser will load that instead of the Meteor one.

If you already had Meteor running, Mapbox Studio seems to start using another port, avoidi

[2014-11-11 17:40] #825 closed, assigned to nobody

[2014-11-13 19:41] tmcw opened #826 "'load' or 'ready' event"
Right now with most mapbox-gl-js maps there's a 1-2 second pause before the first map render and a blank screen first. Would it be possible to emit an event when the map is rendered for the first time?

[2014-11-13 19:56] peterqliu opened #827 "Video not showing on map"
I'm updating the [video in GL demo](https://www.mapbox.com/blog/video-in-mapbox-gl/) for @tatsvc 's industry pages, and am having trouble getting it to show up. [Bite is here](https://www.mapbox.com/bites/00065/index.html), and code is [here](https://github.com/mapbox/bites/blob/mb-pages/00065/video.json). Am I missing something?

cc @edenh @jfirebaugh

[2014-11-13 22:11] pnorman opened #828 "dependency list"
The documentation does not contain a dependency list. It would be useful.

I had to install the glew headers (`libglew-dev` on debian-based systems), but I don't know what other requirements there are, other than a C compiler.

[2014-11-13 23:07] #827 closed, assigned to nobody

[2014-11-13 23:28] pnorman opened #829 "build-sprite error"
With a clean install via git and `npm install` on Ubuntu 14.04:

[code]

[2014-11-13 23:41] #790 closed, assigned to nobody

[2014-11-14 01:09] #95 closed, assigned to nobody

[2014-11-14 02:02] #747 closed, assigned to nobody

[2014-11-14 02:13] #829 closed, assigned to nobody

[2014-11-14 17:01] fnicollet opened #830 "Getting "Unimplemented type: 7" while decoding PBF generated via node-fontnik"
Hello,
A week ago, I added an issue "Is it possible to retrieve every font used in mapbox-gl-js for every charset-range?" (https://github.com/mapbox/mapbox-gl-js/issues/809), @yhahn redirected me to this script https://github.com/mapbox/node-fontnik/blob/master/bin/build-glyphs  which worked after a bit of fiddling.
I download the Open Sans variants from http://fr.fonts2u.com/open-sans-bold.police

[2014-11-14 20:42] edenh opened #832 "Add class to canvas object when interaction is disabled"
When constructing with `interactive: false`, can we add a class to the canvas object? Something like `mapbox-gl-interaction-disabled`.

[2014-11-14 22:14] #832 closed, assigned to nobody

[2014-11-14 23:29] peterqliu opened #833 "Making sprites requires an embedded color profile"
**In the save dialog**
![screen shot 2014-11-14 at 3 27 15 pm](https://cloud.githubusercontent.com/assets/4551508/5055087/d1194ba6-6c12-11e4-8b95-ea44574ae7c0.png)

So far, I've only ever had success in Photoshop, never Illustrator.

[2014-11-17 03:20] peterqliu opened #834 "Topic: make function stop arrays order-agnostic"
![screen shot 2014-11-16 at 7 21 02 pm](https://cloud.githubusercontent.com/assets/4551508/5064757/c2d3e380-6dc5-11e4-8d86-02fba3a2b7dc.png)

Currently, a layer renders properly only if its function stops are arranged in order of increasing zoom level. Since each stop already contains the zoom level at its first position, can we make the renderer figure out the correct order on its own, without si

[2014-11-17 03:56] peterqliu opened #835 "Allow map viewport to include areas outside of real longitudes / latitudes"
![repos](https://cloud.githubusercontent.com/assets/4551508/5065024/89f38552-6dca-11e4-81eb-d2224b7233ae.gif)

Right now, zooming all the way out usually involves translation of the map to ensure we don't see any gaps. This shift is hard to predict programmatically, and can affect applications that need to track and control map center at all times. Is there (or should we build) a map prop to disab

[2014-11-17 14:41] tmcw opened #836 "Adjust zoom increments with a modifier key"
/cc @ajashton for people whose scroll events are close or numerous, getting to precise zoom levels is hard. @ajashton suggests augmenting scroll with a held shift key or something that would divide scroll speed by 2 or similar.

[2014-11-17 15:43] tmcw opened #837 "Marker clustering"
Yes, it's that issue you were kind of thinking of and expecting, I'm posting it.

* How should gl-js support clustering? Should it be a first-class style, built into the library by default, or a plugin?
* How should clusters be represented in vector tiles, if at all?

[2014-11-17 18:33] ekelleyv opened #838 "Marker text is doubled on zoom"
On this example, zoom in on one of the markers and the text appears doubled and slightly offset. Chrome 38, Mac OS X 10.9.2.

https://www.mapbox.com/mapbox-gl-js/example/geojson-markers/

![](http://cl.ly/image/0E1g2c2D1Z3t/Screen%20Shot%202014-11-17%20at%201.28.42%20PM.png)

![](http://cl.ly/image/0P1z102s3N24/Screen%20Shot%202014-11-17%20at%201.28.21%20PM.png)

Also, does the geoJSON marker text

[2014-11-17 19:27] ekelleyv opened #839 "Add ability to use next zoom level for raster tiles"
In order to avoid pixelated raster tiles, would it not make sense to display the tile for the next zoom level instead of the previous zoom level? As in show the tiles for `ceil(zoom)`? The scaled up raster tiles look pretty bad:

![](http://cl.ly/image/323n1c0u3u01/Screen%20Shot%202014-11-17%20at%202.27.07%20PM.png)

There is a good chance I am just missing a setting.

[2014-11-17 19:54] #771 closed, assigned to nobody

[2014-11-17 20:48] tmcw opened #841 "map.remove() breaks headlessly"
Running under node mapbox-gl-js uses [this dispatcher](https://github.com/mapbox/mapbox-gl-js/blob/mb-pages/js/util/dispatcher.js) instead of [the other one](https://github.com/mapbox/mapbox-gl-js/blob/mb-pages/js/util/browser/dispatcher.js). I'm not sure why: should we implement `.remove` for both?

[2014-11-17 21:07] #770 closed, assigned to nobody

[2014-11-17 21:07] #841 closed, assigned to jfirebaugh

[2014-11-17 21:33] #834 closed, assigned to nobody

[2014-11-17 23:51] alexkurtz opened #843 "Use mapbox styles"
Hi! Is there a way to use the styles hosted in mapbox (the ones that appear under the styles label in the website, created by mapbox-studio) with mapbox-gl-js? So far, it seems that the mapID you get only works as a source (although I haven't been able to use them, either).
I don't know if this is the correct place. Thanks!

[2014-11-18 22:29] averas opened #844 "Plotting large amounts of vector data"
I would like to explore the possibility to produce maps like the ones present at https://www.mapbox.com/blog/mapping-millions-of-dots/ but using vector data rather than raster images (to allow filtering, on-the-fly-styling etc.).

With the new webgl capabilities the upper bounds for the _rendering_ of vector data I assume is a lot higher than with traditional rendering (DOM/SVG whatever), even if

[2014-11-18 23:24] pnorman opened #845 "Spriteify SVG"
A user may have their existing symbols as SVGs, in which case [build-sprite.js](https://github.com/mapbox/mapbox-gl-js/blob/mb-pages/bin/build-sprite.js) will ignore them.

It should be possible to generate both normal and retina sprites from a SVG marker file.

Cross-ref #822

[2014-11-19 01:10] #844 closed, assigned to nobody

[2014-11-19 01:10] #843 closed, assigned to nobody

[2014-11-19 21:48] pnorman opened #846 "symbol-placement doc caps"
In one place "line" is used and in another "Line" is used. Surrounded by backticks, I'd expect the second line to have the same caps as the first, being a keyword.

[2014-11-20 02:34] #846 closed, assigned to nobody

[2014-11-20 08:27] peterqliu opened #847 "featuresAt() should expose layers that were laid out via "ref""
For example, I'm making a map where I define a road casing in the traditional manner, and then define the road itself via a `ref` to its casing.

When I `featuresAt()` at that position, only the casing shows up. I want to get both, while enjoying the performance benefits of `ref`

[2014-11-20 19:06] #845 closed, assigned to nobody

[2014-11-20 20:31] #830 closed, assigned to nobody

[2014-11-21 16:09] tmcw opened #848 "Draw tool"
Much like #837 this might live in an extension but is nonetheless a priority. Something like leaflet-editable or Leaflet.draw, except in GL land.

[2014-11-23 19:50] averas opened #849 "Programmatic access to source vectors"
Would it make sense to be able to add/remove features of a vector source by other means than loading tiles or providing GeoJSON? This could for example be used to implement a bounding-box loading strategy not based on GeoJSON.

A related question is how one could carry out filtering of certain vector data based on user input. Do you guys see that rather than filtering the data (which again would b

[2014-11-24 16:54] tmcw opened #850 "production build still uses -d flag"
I don't think the [optimized production build](https://github.com/mapbox/mapbox-gl-js/blob/mb-pages/package.json#L70) should also be in debug mode.

[2014-11-24 23:34] #800 closed, assigned to nobody

[2014-11-24 23:34] #850 closed, assigned to nobody

[2014-11-26 21:24] fnicollet opened #853 "Rendering issues: water pattern being applied on solid ground"
Hello,

I just noticed a weird rendering bug in some areas while generating my own tiles (some lines would just not render at all, mostly tertiary roads) but while testing on the official examples in that area, I noticed a bug with mapbox's tiles, that can be reproduced in the official examples.

I made a jsfiddle for it (forked from someone else's, the JS files is recent enough and it can be repr

[2014-12-01 20:13] tmcw opened #854 "Interaction calls getBoundingClientRect on mousemove events"
`getBoundingClientRect` [triggers reflows](http://gent.ilcore.com/2011/03/how-not-to-trigger-layout-in-webkit.html) because it requires style recalculation. It's best not to call this function on fast-firing event handlers.

[2014-12-01 20:29] mourner opened #855 "Switch to 6to5"
https://github.com/mapbox/mapbox-gl-online/issues/558 — we should probably do this here too.

[2014-12-02 00:58] tmcw opened #856 "Switch to karma"
Once I finish [karma-tap](https://github.com/mapbox/karma-tap) we should do this - karma has better browser launcher support and a higher chance of hookins as a CI.

[2014-12-02 20:57] incanus opened #857 "add support for asset://"
Background in https://github.com/mapbox/mapbox-gl-native/issues/579. For web, these will likely be in a known, hosted place such as the current `http://mapbox.com/mapbox-gl-styles/...`.

[2014-12-02 23:19] nickidlugash opened #858 "`line-gap-width` gap is too wide?"
Assigning the same value for `line-gap-width` in a road casing layer as the `line-width` value in a road layer should result in the casing being flush with the fill. Instead, it seems like there is a slight gap between the two:

e.g.

![screen shot 2014-12-02 at 5 10 08 pm](https://cloud.githubusercontent.com/assets/5607844/5272900/61d04560-7a4f-11e4-962a-ff585bd4038c.png)
![screen shot 2014-12-02

[2014-12-03 01:37] geografa opened #859 "Stacking polygons with fill-color and opacity doesn't darken overlapping fills"
When styling a polygon with overlaps, the fill-color and opacity remain the same:
![](https://cloud.githubusercontent.com/assets/3875803/5132732/617ffad2-70cd-11e4-947b-30baf0194bd2.png)

Expected results are similar to studio (CartoCSS):
![](https://cloud.githubusercontent.com/assets/3875803/5132727/3d506d36-70cd-11e4-93fa-9c48ee649a56.png)

Live example:
http://jsfiddle.net/0npp5v9t/

[2014-12-04 09:59] stephanbogner opened #861 "Uncaught Error: Unimplemented type: 3"
I'm using Mapbox GL JS to add additional custom layers and be able to style them on the fly.

It looks like following for bike lane data:
![screen shot 2014-12-04 at 10 45 48](https://cloud.githubusercontent.com/assets/7897006/5296339/e82a3694-7ba2-11e4-9feb-f4df4ac28d09.png)

However – It works perfectly fine for the bike lane data, but the data for rails throws the error `Uncaught Error: Unimple

[2014-12-04 22:53] peterqliu opened #862 "featuresAt() returns false positives with road labels"
This [test case](https://www.mapbox.com/bites/00075/) shows black roads with `black_label` that are `symbol_placement=line`, and red roads with `red_label` that use default symbol placement.

When I hover over either road type to do a featuresAt({radius:10}), it returns road labels even when A) the cursor is clearly between labels, or B) the zoom level is too low for labels to even appear. Again,

[2014-12-05 01:18] jfirebaugh opened #863 "Source::update should remove all tiles if the source is disabled"
Right now it's just `if (!this.enabled) return;`.

[2014-12-05 01:43] jfirebaugh opened #864 "Map::setStyle is likely fail when called multiple times"
`Map::setStyle` does not remove sources that were added due to a previous call to `setStyle`, so:
- Sources with unique IDs accumulate in `this.sources` and are never removed
- Sources with non-unique IDs will hit [this exception](https://github.com/mapbox/mapbox-gl-js/blob/c3d0465f0badf721681bcb1e86c73476fd595947/js/ui/map.js#L93-93)

I think we should move the `addSource`/`removeSource` API to S

[2014-12-05 20:54] jfirebaugh opened #865 "remove source -> map dependency"
Source should not depend on map or map.painter -- instead the necessary values should be passed in to the relevant methods.

[2014-12-05 21:14] canadaka opened #866 "3rd Party External PBF Vector Source (doc & example?)"
I am unable to get MVT/PBF vector tiles working from an external http:// source. I don't see any documentation or examples of this.

The sources docs page only mentions topoJSON and doens't actually give any info or example of using a 3rd party url: https://www.mapbox.com/mapbox-gl-style-spec/#sources

I created a very simple Style JSON file that includes:
[code]

Along with trying to specify a so

[2014-12-08 17:09] tmcw opened #868 "Bad paths in buffer tests"
[code]

Looks like these tests were moved a long time ago but never given the extra hit of `../` to compensate for the deeper directory nesting.

[2014-12-08 17:12] #868 closed, assigned to nobody

[2014-12-08 18:15] tmcw opened #869 "Uncaught: expecting an even number of intersections"
This error: https://github.com/mapbox/mapbox-gl-js/blob/177960a8d0cf4add744be34191f59f74bd4287b9/js/symbol/rotation_range.js#L202-L207

Is cropping up in production.

[2014-12-08 18:41] mourner opened #870 "map.setStyle is broken if the map already has a style"

[2014-12-08 21:25] #870 closed, assigned to jfirebaugh

[2014-12-08 22:09] #864 closed, assigned to jfirebaugh

[2014-12-08 22:18] #463 closed, assigned to nobody

[2014-12-09 00:56] #464 closed, assigned to ansis

[2014-12-09 00:56] #670 closed, assigned to nobody

[2014-12-09 00:56] #694 closed, assigned to ansis

[2014-12-09 03:49] #861 closed, assigned to nobody

[2014-12-09 09:17] halset opened #873 "rotation based on attribute"
I have a ORIENTATION attribute in a feature that I want to use as the value to the "icon-rotate" attribute. Like this.

"layout": {
      "icon-image": "triangle-12",
      "icon-rotation-alignment": "map",
      "icon-rotate": "{ORIENTATION}"
}

Is there a way to have a "Number" data type that is based on a attribute like the "String" data type does with {}? It does not seem to work for me now.

[2014-12-09 20:18] #849 closed, assigned to nobody

[2014-12-09 20:41] #780 closed, assigned to nobody

[2014-12-09 20:43] #873 closed, assigned to nobody

[2014-12-10 02:55] lbud opened #874 "featuresAt example only showing polygons"
![image](https://cloud.githubusercontent.com/assets/3170312/5370263/d327b6e6-7fd4-11e4-90a1-cdeabd8910fe.png)
The [featuresAt](https://www.mapbox.com/mapbox-gl-js/example/featuresat/) example seems to be only showing polygons, no matter how much I try to hover over a line or point.

[2014-12-10 14:46] tmcw opened #875 "mapid support for remote styles"
Right now you can load external styles with full JSON URLs: can we add a shorthand for Mapbox-hosted GL stylesheets?

[2014-12-10 22:55] lbud opened #876 "featuresAt behavior/returning more data"
Currently `featuresAt` returns an object like

[code]

The original intent behind featuresAt may have been doing tile source inspection, but a user could ostensibly want to do a lot more with it — I'd like to expose the rest of the layer style information.

Use: the above example comes from a `line` style layer with a `landcover` source layer (so GL draws it as an outline rather than a fill), but

[2014-12-10 23:12] MichaelMarkieta opened #877 "No interactivity on iOS 8 (8.1.2 + 0.4.2)"
The map will load but the page is not interactive on my 5s v8.1.2: http://clients.markieta.ca/mapboxgl/

[2014-12-10 23:19] tmcw opened #878 "featuresAt doesn't work until you move the map"

[2014-12-11 01:56] lbud opened #880 "featuresAt not working in dev"
at all — no features are returned.

[2014-12-11 02:04] #880 closed, assigned to nobody

[2014-12-11 13:58] kkaefer opened #882 "Test suite times out"
Currently, the test suite times out:

[code]

It looks like this is related to the sprite event refactor, but not 100% sure.

[2014-12-11 22:57] #882 closed, assigned to jfirebaugh

[2014-12-11 23:15] jfirebaugh opened #883 "test-suite regressions from #872"
The following rendering test-suite cases regressed with the merge of #872:

Comparing symbol-min-distance/line-far: 0.033940 > 0.001000
Comparing symbol-min-distance/line-close: 0.090046 > 0.001000
Comparing symbol-placement/line: 0.002588 > 0.001000
Comparing text-max-angle/literal: 0.008894 > 0.001000
Comparing text-max-angle/constant: 0.006382 > 0.001000

cc @mourner

[2014-12-11 23:44] #883 closed, assigned to nobody

[2014-12-12 00:46] #877 closed, assigned to nobody

[2014-12-12 18:52] nickidlugash opened #884 "Behavior of `line-cap` + `line-dasharray`"
Currently, line caps do not control the caps of line segments in lines using `line-dasharray`. They do in carto, and I think they should in GL, too.

In carto:

![screen shot 2014-12-12 at 1 35 54 pm](https://cloud.githubusercontent.com/assets/5607844/5417157/6f2d6a5a-8204-11e4-8487-703839a680e8.png)

In mapbox-gl-js:

![screen shot 2014-12-12 at 1 36 53 pm](https://cloud.githubusercontent.com/ass

[2014-12-12 23:45] tmcw opened #885 "removeClasses function"
Right now we have a method that says

[code]

This seems wrong: you shouldn't reach inside the way that mapbox gl works with classes and directly modify an object like that. I'm not super :+1: about classes in general, but the implementation will need more than add/remove to be usable in this case - we'll at least need a 'list' function that would be able to do what the code above does in a safe w

[2014-12-13 00:36] #885 closed, assigned to nobody

[2014-12-13 18:54] tmcw opened #886 "Race condition on vector tile loading vs setStyle"
Running into this sporadically, trying to get a reduced test case, but:

![2014-12-13 at 1 54 pm](https://cloud.githubusercontent.com/assets/32314/5424854/89c66b3e-82cf-11e4-8006-b63419e98b5c.png)

![2014-12-13 at 1 54 pm](https://cloud.githubusercontent.com/assets/32314/5424855/9053c2bc-82cf-11e4-8bca-3cbffd24c1c8.png)

The tiles load and elementGroups is out of date with buckets and ends up with

[2014-12-15 18:49] lbud opened #887 "featuresAt documentation"
Not well-documented (e.g. `geometry`=??).

To do after https://github.com/mapbox/mapbox-gl-js/pull/879 merges.

[2014-12-16 00:23] jfirebaugh opened #888 "Hash never unbind events, has racy debounce"
[This event is never unbound.](https://github.com/mapbox/mapbox-gl-js/blob/8ec650402893a11eb4c40816ae3b673cf6fe2a3e/js/ui/hash.js#L9-9).

[This debounce will race with unbinding/`map.remove()`](https://github.com/mapbox/mapbox-gl-js/blob/8ec650402893a11eb4c40816ae3b673cf6fe2a3e/js/ui/hash.js#L10-10).

[2014-12-16 01:29] #609 closed, assigned to jfirebaugh

[2014-12-16 01:31] jfirebaugh opened #889 "Check for GL errors"
Most WebGL calls should be immediately followed by a call to gl.getError and checking for errors. We can wrap the context [like suggested here](https://www.khronos.org/webgl/wiki/Debugging) and do this automatically. (Though I wouldn't use webgl-debug.js directly, it's buggy.)

[2014-12-16 02:48] #833 closed, assigned to nobody

[2014-12-16 17:38] tmcw opened #890 "Sources are never removed"
https://github.com/mapbox/mapbox-gl-js/blob/mb-pages/js/style/style.js#L39-L60

It looks like calling `.setStyle` will always add sources but never remove old sources. We're seeing this result in a race condition in which setting a style with sources and then quickly setting one without any sources will have the old source's events still firing where there are no good listeners anymore.

[2014-12-16 20:34] jfirebaugh opened #891 "geojson rendering test regressed"
In edfde9a1cc6be80e5a9a7252efcf178a4e86db72

[2014-12-16 20:38] #789 closed, assigned to nobody

[2014-12-17 01:24] #876 closed, assigned to nobody

[2014-12-17 01:34] #890 closed, assigned to nobody

[2014-12-17 23:03] #891 closed, assigned to nobody

[2014-12-18 21:07] tmcw opened #894 "no repository field in package.json"

[2014-12-18 21:26] tmcw opened #895 "make styles own their own workers"
But it doesn't always, and this throws:

![2014-12-18 at 4 26 pm](https://cloud.githubusercontent.com/assets/32314/5496188/97015f50-86d2-11e4-83e4-8c8bfbed7ef9.png)

[2014-12-18 22:08] tmcw opened #897 "map.remove throws"
https://github.com/mapbox/mapbox-gl-js/blob/mb-pages/js/ui/map.js#L341

![2014-12-18 at 5 07 pm](https://cloud.githubusercontent.com/assets/32314/5496753/61506008-86d8-11e4-9ec1-7c80437de3a7.png)

painter.gl no longer has a `.destroy()` method, so this throws.

[2014-12-18 22:19] #897 closed, assigned to nobody

[2014-12-18 22:20] #894 closed, assigned to nobody

[2014-12-19 01:53] jfirebaugh opened #899 "Create a global worker pool"
mapbox-gl-js should use `navigator.hardwareConcurrency - 1` workers no matter how many maps are on a page or how many times you call `map.setStyle()`.

[2014-12-19 02:24] #886 closed, assigned to nobody

[2014-12-19 02:24] #895 closed, assigned to nobody

[2014-12-20 17:10] lbud opened #900 "featuresAt with {buckets: true}"
`featrueTree`'s [`queryBuckets` function](https://github.com/mapbox/mapbox-gl-js/blob/mb-pages/js/data/feature_tree.js#L87-L103) only fires when `featureTree.query` is called with a `{buckets: true}` param. To that end [a test](https://github.com/mapbox/mapbox-gl-js/blob/mb-pages/test/js/data/feature_tree.test.js#L108-L124) was added for `queryBuckets` in https://github.com/mapbox/mapbox-gl-js/com

[2014-12-20 17:21] #887 closed, assigned to nobody

[2014-12-20 17:22] #878 closed, assigned to nobody

[2014-12-20 17:25] lbud opened #902 "featuresAt with radius 0/not defined only returns Polygons"
…bug?
Can only find `LineString`/`Point`s if `radius` >= 1.

[2014-12-21 20:45] peterqliu opened #903 "Redundant filtering methods?"
From [the spec](https://www.mapbox.com/mapbox-gl-style-spec/#filter)

`==` can be handled by `in` ("is" is a subset of "is one of")
`!=` can be handled by `!in` ("is not" is a subset of "is not one of")

The `==` and `!=` might help to emphasize that you can include or exclude just one thing, but is it worth the redundancy?

[2014-12-21 20:47] #903 closed, assigned to nobody

[2014-12-22 18:08] #900 closed, assigned to nobody

[2014-12-22 20:14] tmcw opened #904 "Premultiply sprites in workers"
We're seeing sprite premultiplication - https://github.com/mapbox/mapbox-gl-js/blob/mb-pages/js/style/image_sprite.js#L25-L44 this loop - as one of the biggest sync operations in gl-js. Is this something we could do in a worker?

[2014-12-23 14:19] #760 closed, assigned to nobody

[2014-12-24 00:42] #863 closed, assigned to nobody

[2014-12-26 12:19] StevenLooman opened #905 "Calling GeoJSONSource.setData() after some time doesn't update the source"
Calling GeoJSONSource.setData() after some time doesn't update the source. For example, replacing data after some time doesn't result in additional geometries being rendered on the map.

See this [JSFiddle](http://jsfiddle.net/9Lckgqb2/1/). When the time expires (10 seconds), setData() on the route source is called with an empty FeatureCollection. I would expect that all the original geometry in t

[2014-12-28 06:21] peterqliu opened #907 ".flyTo() should fly to the nearest version of destination"
Instead of one several world-wraps away:

![flyto](https://cloud.githubusercontent.com/assets/4551508/5563215/4391cbf2-8e16-11e4-9795-e79322a7108c.gif)

This is happening when map is `hash:true` and I don't specify position in the URL.

[2015-01-02 13:54] vallettea opened #908 "Setting colors to GeoJson Source"
hello,

Thanks for this awesome job you're doing with these vector tiles.

I have trouble finding how to set a different color for the different Linstrings I have plotted.

Once the style of the source is set by:

[code]

All the linestrings of my source will have the same properties.

Should I have a layer per line ?
Any code example appreciated.

BEst

[2015-01-02 18:57] peterqliu commented on #908
@vallettea everything within a layer will have the same styling properties (including color), which means you'll need **one layer per color**.

To apply different colors to each linestring, you'll first have to add a property to the source that distinguishes the linestrings with your desired color scheme. Then, to actually apply the colors, [filter](https://www.mapbox.com/mapbox-gl-style-spec/#fil

[2015-01-03 15:40] vallettea commented on #908
thanks for the advice, I'm trying this now.

Before your answer I was looking into [this](https://www.mapbox.com/mapbox-gl-js/example/geojson-markers/) example. It seems it is possible to have some sort of variables within a layer like this `"icon-image": "{marker-symbol}-12"` set inside the geojson properties.

I tried to do the same with the color for the paint field without success.

[2015-01-03 16:25] vallettea commented on #908
Works the way said with one layer per color.

This is quite a change in the usual way to plot data on a map and don't yet see how to change the color dynamically...

thx

[2015-01-03 16:25] #908 closed

[2015-01-03 19:47] lbud commented on #908
Hey @vallettea, we're working toward figuring out the best way to support use cases like this — see https://github.com/mapbox/mapbox-gl-style-spec/issues/226 for the ongoing discussion.

[2015-01-04 11:32] vallettea commented on #908
thx @lbud As I understand there is no way (at the moment) to animate the data on a map ?
I did some trials on this [gist](https://gist.github.com/vallettea/f8f84182b091b210d76d). My observations are:

- the data of the source is not dynamical, ie when you call `setData` after things are rendered it doesn't change anything
- removing a source and re-adding it after having modified the data would be

[2015-01-04 11:34] vallettea commented on #905
did you figure out something about this ? I'm also interested on possible ways to set data on the go like i mentioned in #908

[2015-01-04 17:44] StevenLooman commented on #905
No, I haven't had the time to look into this myself just yet. Maybe I'll have some time to look into it next week.

[2015-01-04 17:46] vallettea commented on #905
ok thx

[2015-01-05 18:59] jfirebaugh opened #909 "Change map option min/maxZoom ⇢ min/maxzoom"
Follow the TileJSON naming convention for these properties everywhere.

https://github.com/mapbox/mapbox-gl-js/commit/4862629ed786fe1cc878f7b3d9e721fbd1b0b9c6#commitcomment-9084635

[2015-01-05 22:02] jfirebaugh commented on #909
I'd oppose having `"maxzoom": 12` in the style spec but requiring `new mbgl.Source({maxZoom: 12})`, if that's what you're suggesting. The style spec and API not really separate in this case; the options you pass to `new mbgl.Source(options)` are (and should be) exactly the same as the source options in the style spec.

[2015-01-05 22:12] mourner commented on #909
Then I'd make Source accept both `maxzoom` and `maxZoom`. Most developers just won't understand why `maxzoom` and not `maxZoom`, because they will mostly use styles with mapbox:// shortcuts without even thinking about what happens under the hood (TileJSON, etc.).

[2015-01-05 22:25] #847 closed

[2015-01-05 23:27] mourner commented on #907
@ljbade it flickers on other parts of the world, although I'm sure I already fixed this at some point. Looks like a regression, possibly after tile loading refactor by @jfirebaugh.

[2015-01-05 23:38] peterqliu commented on #907
@mourner v2 terrain might also be contributing

[link](https://www.mapbox.com/bites/00080)

[2015-01-06 00:17] edenh opened #911 "Retain map classes after map.setStyle"
If classes are active on the map (using `map.addClass` or `map.setClassList`) and the stylesheet is updated using `map.setStyle`, the classes are removed. We should keep the classes active until `map.removeClass` is called.

[2015-01-06 00:36] mourner commented on #907
@peterqliu in the demo, subtract 720 from all the longitudes. Should make it better.

[2015-01-06 01:33] jfirebaugh commented on #622
@kkaefer Is this the fix mentioned in https://github.com/mapbox/mapbox-gl-js/pull/851#issuecomment-66762860?

[2015-01-06 01:36] jfirebaugh commented on #822
Remaining issues here are covered by #358.

[2015-01-06 01:36] #822 closed

[2015-01-06 01:40] jfirebaugh commented on #838
No longer reproducible.

[2015-01-06 01:40] #838 closed

[2015-01-06 09:10] kkaefer commented on #622
I don't understand the original ticket.

[2015-01-06 21:13] StevenLooman commented on #905
@jfirebaugh Fixed! :)

[2015-01-06 21:19] StevenLooman commented on #905
Note that with current head mapbox-gl-js doesn't work for me, some older commit did work.

[2015-01-06 21:22] jfirebaugh commented on #905
Thanks @StevenLooman, I have a similar fix in progress with tests and some additional refactoring.

[2015-01-06 21:25] StevenLooman commented on #905
@jfirebaugh Thats even better, please use those.

[2015-01-06 23:05] fnicollet opened #913 "Regression in WorkerTile on sourceLayers lookup"
Hello,

I just updated to the very last version of the repo ( @mourner commits took 25k off the final dev size with the PBF changes, good one!) but unfortunately, code that was working before no longer works.
I am using mapbox-gl-js in IE with bright-v6.json.

I believe this comes from this commit by @lbud , probably this one:
https://github.com/mapbox/mapbox-gl-js/commit/2ca21d5a637c7f768539730f7

[2015-01-07 00:02] lbud commented on #913
Hey @fnicollet, regarding the first issue, I just pushed a different fix that should address the issue while not breaking the `featuresAt` functionality that code is meant for — let me know if you see that regression again.

[2015-01-07 00:15] fnicollet commented on #913
ok, let me try

[2015-01-07 00:19] fnicollet commented on #913
ok, it doesn't crash on startup like before but I still get the "prerendered" issue. Think this is related or should I close this one and open another?

[2015-01-07 00:22] lbud commented on #913
Yeah, I don't think those are closely enough related to keep this open — can you open a separate ticket for that? Thanks!

[2015-01-07 00:22] #913 closed

[2015-01-07 00:24] fnicollet opened #915 "Regression in VectorTile on the "prerendered" property"
Hi,

I just updated to the very last version of the repo but unfortunately, code that was working before no longer works.
I am using mapbox-gl-js in IE with bright-v6.json.

The code fails here:
https://github.com/mapbox/mapbox-gl-js/blob/4e53999bc66d00c2c6a2ff0d6cdcde24789a9cd7/js/source/vector_tile.js#L68

cannot find "prerendered" from an undefined reference. Might be some other changes with bu

[2015-01-07 00:24] fnicollet commented on #913
Thanks, for reference the new issue is #915

[2015-01-07 01:02] lbud commented on #915
Thanks @fnicollet! It looks like there are undefined buckets where source layers haven't been encountered yet at certain zoom levels (i *think*) — pushed an easy fix at https://github.com/mapbox/mapbox-gl-js/commit/c0d005177814164bebe337b85320c70ba718ea7a, but will keep poking to see if there's a bigger bucket problem here.

[2015-01-07 01:02] #915 closed

[2015-01-07 02:01] lbud commented on #902
The above two functions (`lineContainsPoint`, `pointContainsPoint`) leave absolutely zero tolerance for what seem to be imperfect computations (see https://github.com/mapbox/mapbox-gl-js/issues/874 — it's impossible to mouse over a Point or LineString and see a result). Should we add a tiny bit of tolerance (i.e. change [this line](https://github.com/mapbox/mapbox-gl-js/blob/mb-pages/js/data/featu

[2015-01-07 02:31] lbud commented on #819
@nickidlugash is this still the case for you? I'm seeing
![image](https://cloud.githubusercontent.com/assets/3170312/5639838/2f14dc46-95d2-11e4-90cb-fed456f9ae2b.png)
with layers
[code]

[2015-01-07 02:46] #759 closed

[2015-01-07 02:52] nickidlugash commented on #819
@lbud I hadn't tested since I opened the issue, but I just tested it now and it seems to be working :+1:

[2015-01-07 02:52] #819 closed

[2015-01-07 18:19] tmcw commented on #787
This doesn't work for my use case: requiring this to be an exception makes it impossible to use [testing libraries](https://github.com/hughsk/smokestack) and breaks sourcemaps if you concat.

[2015-01-07 18:51] jfirebaugh commented on #902
Well `radius` is supposed to provide that tolerance, right?

See #316 for relevant discussion -- for many/most uses cases of featuresAt, I think what we really want is paint-property-aware hit testing.

[2015-01-07 19:04] peterqliu opened #917 "Make cursor the center of zoom in tilted maps"
When zooming in 2D, the point under the mouse stays put, while everything else expands and contracts around it. I'd like the same in tilted perspective.

![tilt](https://cloud.githubusercontent.com/assets/4551508/5651464/7f8060a8-965c-11e4-9b8d-919d3925b45e.gif)
*Note how the mouse goes from water to land as I zoom in*

We might have to project the mouse position from the canvas object to the tilt

[2015-01-07 19:14] geografa opened #918 "add setPosition for nav controls"
When adding [navigation to a map](https://www.mapbox.com/mapbox-gl-js/example/navigation/), there is currently no way to reposition map controls on the map like you can with [Leaflet](http://leafletjs.com/reference.html#control-setposition). Is this the correct place to ticket?

[2015-01-07 19:49] lbud commented on #788
Documenting `map.style.cascade` wouldn't be (I think) useful without also documenting mutating the stylesheet with `map.style.layerMap['layerId'].paint['fill-color'] = #f00`…which is not a method per se, but so…is that ok? Or does that present a need for a `Style` method that safely mutates `layerMap` without surfacing it so publicly (like a `map.style.setIn([layerId, 'paint', 'fill-color'], '#f00

[2015-01-07 19:56] jfirebaugh commented on #788
#755 is the ticket for a mutable style property API.

[2015-01-07 20:06] michaelsteffen commented on #788
FWIW, when I was playing around with gl-js, I really wanted such an API.  If it would be useful, I'm happy at any point to share thoughts on what this looks like as a newbie learning the library (while recognizing that y'all have probably been over this ground many times already).  And my naive $.02 is that a mutable style property API would be much preferable to surfacing layerMap and cascade . .

[2015-01-07 23:13] jfirebaugh commented on #622
I have a strong hunch that this is fixed by #851. Closing.

[2015-01-07 23:13] #622 closed

[2015-01-07 23:33] duncangraham opened #919 "Add image overlay"
[Someone came through Helpscout](https://secure.helpscout.net/conversation/64086166/13580/) looking to add an image overlay to a map at a 45° angle.

I know we can do this with video, would it be difficult to add an image source counterpart?

![screen shot 2015-01-07 at 3 28 51 pm](https://cloud.githubusercontent.com/assets/865298/5655352/f1c3385a-9681-11e4-8359-b36f50dd3f9d.png)

[2015-01-07 23:34] jfirebaugh commented on #919
Duplicate of #700.

[2015-01-07 23:34] #919 closed

[2015-01-07 23:37] jfirebaugh commented on #874
Let's track in #902.

[2015-01-07 23:37] #874 closed

[2015-01-07 23:52] lbud commented on #902
I suppose so, yes, but it's weird that it's only possible to find Polygon features without providing a `radius`. It's not even that it's very hard to click on an exact LineString/Point; it's literally impossible to do so because of these calculations. The assumption would be that with `radius: 0` you should be able to find a feature on exact click/hover.

[2015-01-08 00:29] peterqliu opened #920 "document .easeTo()"

[2015-01-08 01:05] #920 closed

[2015-01-08 01:08] lbud commented on #788
Fixed (sort of unintentionally) in https://github.com/mapbox/mapbox-gl-js/commit/487537a0cf2490cc26dd0862f797d2f0d22847d8 but I still don't really think this issue is resolved without a good example; however, given that an example is contingent on the resolution of #755 I'm closing here.

[2015-01-08 01:08] #788 closed

[2015-01-08 01:08] lbud opened #921 "Cascade example (contingent on #755)"
After the resolution of #755 let's add a cascade example.

[2015-01-08 01:09] lbud commented on #788
⃗ #921

[2015-01-08 01:40] lbud commented on #902
maybe even a `Math.floor` would be an ok answer here — I've logged the calculations at least from `lineContainsPoint` and when mousing over a line I've been able to log something like 0.16

[2015-01-08 09:39] mourner commented on #787
OK, not requiring, but maybe at least recommending it for production use? Testing + sourcemaps is limited to development.

[2015-01-08 17:15] tmcw commented on #787
Yeah, so far we're patching around this by running

[code]

Before tests in browserify, and using a separate script for the main page.

[2015-01-08 20:32] peterqliu opened #923 "Fix antialiasing"
![screen shot 2015-01-08 at 12 28 03 pm](https://cloud.githubusercontent.com/assets/4551508/5670158/5b634d3a-9732-11e4-895d-0036edd60556.png)

Visible on all tilted lines.

[2015-01-08 23:28] jfirebaugh commented on #907
Flickering is fixed in #925.

[2015-01-08 23:53] #905 closed

[2015-01-09 00:01] jfirebaugh commented on #858
Fixed in 359a576471e20373333cae80a5eccda95ee4cdc2.

[2015-01-09 00:01] #858 closed

[2015-01-09 00:09] #875 closed

[2015-01-09 06:47] StevenLooman commented on #905
Good work, thank you!

[2015-01-09 18:57] #918 closed

[2015-01-10 00:27] jfirebaugh commented on #799
http://dev.business-geografic.com:9000/ is no longer accessible. Is this still an issue?

[2015-01-10 00:29] fnicollet commented on #799
Not really, it must be something strange because in other tests, when generating tiles, it works just fine. You can close this issue, thanks

[2015-01-10 00:37] #799 closed

[2015-01-10 05:50] timrobertson100 opened #927 "Non mapbox URLs don't work for vector tiles?"
I don't know if this is restricted to vector tiles or not, but I am using this:

[code]

And the VectorTile is never instantiated. I have not got to the bottom of it, but somewhere there is a ```"SyntaxError: Unexpected token" ``` being thrown after the source is added.

My complete style is [on this gist](https://gist.github.com/timrobertson100/253dc5dc8a36a0765eb0)

Perhaps it is the http://  or

[2015-01-10 09:57] timrobertson100 commented on #927
This issue is reported in error.

I had correctly implemented a backend, but the client starts by requesting a JSON document which is expected to describe the layer - this _appears_ to be an undocumented step.  For anyone stumbling across this issue, you need to provide metadata JSON along the lines of the following in addition to the vector service:
[code]

[2015-01-10 09:57] #927 closed

[2015-01-10 11:18] fnicollet commented on #915
Thanks @lbud , it looks like it fixed the issue. From my testing, there is no more regression :)

Fabien

[2015-01-10 23:47] jfirebaugh commented on #927
Hey @timrobertson100. You also have the option of including the TileJSON inline in the source:

[code]

This is documented in the Mapbox GL [style spec](https://www.mapbox.com/mapbox-gl-style-spec/#sources).

[2015-01-11 01:45] timrobertson100 commented on #927
Thanks!

[2015-01-11 10:36] timrobertson100 opened #928 "Enhancement request: token based coloring"
It would be really nice to be able use ```{tokens}``` to customize styling based on feature values.  e.g.
[code]
Is something like this in the pipeline please?

[2015-01-11 13:32] mourner commented on #928
Yes, we consider implementing something like this. Similar issue: https://github.com/mapbox/mapbox-gl-style-spec/issues/105 — we discuss style improvements in that repo.

[2015-01-11 13:32] #928 closed

[2015-01-12 14:50] mourner opened #929 "Pluggable API for third-party geospatial formats"
Currently we have awesome GeoJSON support that can handle big amounts of data, but all the work happens on the worker side. This means that to support third-party formats like Geobuf and Shapefile well, we can't just convert to GeoJSON in the app code and pass it to the API, because:

1. The main thread is blocked while the data is converted.
2. Transfering big GeoJSON to the worker is also blocki

[2015-01-12 18:24] #776 closed

[2015-01-12 18:27] ansis commented on #776
@mourner [that](https://cloud.githubusercontent.com/assets/25395/5351748/fe173e6e-7f28-11e4-93e0-d8806fee6048.png) looks like it could be a different issue. If you see it again, can you open an issue with the specific feature

[2015-01-12 18:34] peterqliu commented on #776
@ansis also possibly related: https://github.com/mapbox/auto/issues/54

[2015-01-12 19:04] lbud commented on #720
#813

[2015-01-12 19:04] #720 closed

[2015-01-13 01:36] ljbade opened #930 "Fill layers don't render on some devices"
I just noticed today that on my Windows 8.1 machine random tiles are rendered blank.

The tiles jump around a bit as I zoom in and out.

I am using Chrome 39.0.2171.95 m

My machine has both Intel and NVIDIA graphics (not sure which one is used by Chrome).

[2015-01-13 16:07] #911 closed

[2015-01-13 22:09] lbud opened #931 "Line jag bug"
I can't explain this one, but found this weird jag on what should be a straight road line segment (E Main St in Durham, NC should run completely straight through this screenshot). This is reproducible across GL styles:
![image](https://cloud.githubusercontent.com/assets/3170312/5730156/c4ea8ae0-9b2c-11e4-8228-0688a77629a0.png)
(this view is at [35.995, -78.901], z 16.6)
![image](https://cloud.gith

[2015-01-14 00:17] jfirebaugh commented on #931
This was a glitch in the OSM data -- see the history for [this node](http://www.openstreetmap.org/node/2613436020/history).

Will ticket upstream to investigate why the change from 3 months ago isn't showing up in the vector tiles.

[2015-01-14 00:17] #931 closed

[2015-01-14 00:50] ansis commented on #930
Any errors in the console?

My guess would be network errors. If it fails to download a tile it just doesn't show anything. Should it do something different when downloads fail?

[2015-01-14 01:35] ljbade commented on #930
@ansis no console errors.

Also I don't think it is download error as native has no issue on this computer and is very repeatable.

[2015-01-14 01:50] ljbade commented on #930
Tested Windows Firefox, same problem.

Can't test on IE.

Doesn't happen with either Chrome or Firefox on my Windows machine.

[2015-01-14 08:52] spizder opened #932 "Hover event does not work in Firefox"
Just try to open Mouse position or featuresAt code examples in latest versions of Firefox, IE and Chrome. Nothing will happen in Firefox because .on('hover') event apparently does not work

https://www.mapbox.com/mapbox-gl-js/example/mouse-position/
https://www.mapbox.com/mapbox-gl-js/example/featuresat/

[2015-01-14 10:16] mourner commented on #682
I'm thinking about this again — even if the original GeoJSON data passed to Mapbox GL JS is good, self-intersections and other artifacts may appear easily after simplification step with `geojson-vt`.

FIST triangulation paper, which is based on ear slicing triangulation, also describes making it more fool-proof. It involves "desperate mode" — applying different strategies when the straight algorit

[2015-01-14 10:36] ljbade commented on #682
@mourner sounds like an awesome algo, will this be ported to c++ after?

also does you algo create lots of little thin triagles like some algos do, or does it generate nice large triangles.

[2015-01-14 10:48] mourner commented on #682
@ljbade I tried tons of algorithms, what algorithm do you refer to specifically?

[2015-01-14 11:11] kristfal opened #933 "Large sprite sheet .png pixel size + many symbols onscreen -> rbush.js error"
Environment:

OS X Yosemite
Chrome 39.0.2171.95 (64-bit)

Using a custom dataset (hosted @mapbox).
Using custom styling and sprite sheet generated by latest mapbox-gl-js release.

I can share the style, sprite sheet and dataset in a PM if needed.

Issue:
In regions (and at lower zoom levels) with a high amount of symbols (roughly 20-30 onscreen) rendered from the sprite sheet, symbols switch sprit

[2015-01-14 11:17] ljbade commented on #682
@mourner I can't remember exactly but one of them produces lots of little slices, i think it fans out from single vertex a lot of the time

[2015-01-14 11:35] mourner commented on #682
@ljbade in this case, we have to focus on triangulation speed, which leads to algorithms that produce lots of thin triangles. That are some ways to improve ear slicing, for example, to produce better triangulation, but it comes with a CPU cost. First we'll get to an acceptable level of triangulation performance and robustness, and only then look whether reducing thin triangles is worth it performa

[2015-01-14 11:46] ljbade commented on #682
Oh ok, I wonder what algo this uses -> https://code.google.com/p/poly2tri/

I remember it being rather fast when I looked at it years ago, but I suppose your algo is even faster

I just remembered reading that degenerate triangles are bad for GPUs since it has to reprocess the same pixels multiple times

[2015-01-14 12:38] mourner commented on #682
After looking further into FIST, I think I can implement its bad polygon handling and holed polygons splitting approach in a couple days. After this, we will have an algorithm that's very fast for most data while being robust.

This means we will be able to punt on https://github.com/mapbox/mapnik-vector-tile/issues/53 for now, and the only real VT blocker remaining will be https://github.com/mapb

[2015-01-14 17:55] ansis commented on #682
Sounds like a great plan!

I think it should be possible to recover this accurately enough for our uses by checking if a ring is contained within another ring. Cases where two rings intersect each other are a bit ambiguous, but we could count a ring as a hole if at least half of the ring's vertices we check are within the other ring. It wouldn't be perfect, but it would probably be good enough, es

[2015-01-14 18:24] mourner commented on #682
Hmm, sounds like a good idea. It will be slower since it's O(n1 * n2) for each ring but will work.

[2015-01-14 18:29] jfirebaugh commented on #933
This is probably similar to #653 / #141 in that the sprite atlas (internal storage for sprite images) is overflowing.

[2015-01-14 19:08] mourner commented on #682
OK, great progress here! With https://github.com/mapbox/mapbox-gl-js/commit/eb7b769a5bbee735b1ac07db969e39c0f4de884b, the earcut algorithm now handles bad data pretty well. What's changed:

- there's a preprocessing step that removes all clipping-induced colinear points (vertical or horizontal)
- when the simple earcut algorithm can't find an ear to slice off, it finds a diagonal that divides the

[2015-01-14 19:39] mourner commented on #682
On a second thought, this could be too slow. Due to the fact that multipolygons have multiple polygons, each potentially with multiple holes, we need to compare each ring with each other ring. For each comparison, we need to loop one ring for each point of the other ring. This may be too much. And big polygons with lots of holes are pretty common — e.g. water.

[2015-01-14 19:50] ansis commented on #682
You could check a constant number of points or a fraction of the points and guess based on that. For, example if you look at 10 points you would be able to say either "at least 5 vertices of this ring are contained in the other ring, let's treat it as a hole" or "at least 5 vertices of this ring are outside the other ring, let's treat it as an outer ring". Less accurate, but maybe good enough if t

[2015-01-14 23:26] mourner opened #934 "Implement cross-fading of vector tiles"
Currently the awesome smoothness of vector tile rendering in GL JS is hindered by new tiles popping up instantly, sometimes with an unpleasant effect (e.g. lots of labels suddenly appearing).

What does it take to implement cross-fading of vector tiles? Do we need #193 fist? @ansis

[2015-01-15 02:43] ljbade commented on #934
We should do something like goodle, they don't fade tiles in, but they must somehow pre-fetch tiles along the boundary of the map, and neighbouring zoom levels.

When you pan or zoom it always has some tile there (usually blurry) while detailed tile loads.

There map is certainly a lot more smooth feeling then ours.

[2015-01-15 09:53] mourner commented on #934
If you look closely, you can see that what Google prefetches are actually raster tiles. We can't do that — we need all the rendering to happen on the client with vectors. We had the notion of "pan tile" earlier to simulate the effect, but it was removed for a reason I can't remember.

I'm still interested in cross-fading tiles, so they don't just pop in instantly, but are faded in.

[2015-01-15 09:55] mourner commented on #934
Here's what I mean: ![gl-fade](https://cloud.githubusercontent.com/assets/25395/5755456/4e5d8e40-9cad-11e4-8c6d-4332893863df.gif)

[2015-01-15 10:42] ljbade commented on #934
Ah I see. Interesting that Google use a raster tile trick.

[2015-01-15 11:40] mourner commented on #682
Managed to considerably improve the quality of triangulation with little cost (takes ~10% more time). Before & after:

![image](https://cloud.githubusercontent.com/assets/25395/5756771/ebd4dcd8-9cbb-11e4-9156-30288c375631.png)
![image](https://cloud.githubusercontent.com/assets/25395/5756776/f83b769e-9cbb-11e4-8d90-dd64649cd9de.png)

[2015-01-15 12:01] brendankenny commented on #682
@mourner how can I access the test data you mention in https://github.com/mapbox/mapbox-gl-js/issues/682#issuecomment-60642374? The link you give is a localhost:3000 link :) so I assume I need to clone something and run it to try it out.

I'm still neck deep in a few other projects but I'd like to get back to speeding up libtess for bad cases in the next week or two.

[2015-01-15 12:06] mourner commented on #682
@brendankenny awesome! See https://github.com/mapbox/mapbox-gl-js#setup. The code with tesselation is in the `earcut` branch now.

[2015-01-15 13:14] ljbade commented on #682
@mourner awesome, it would be nice to be able to somehow benchmark the two to see if GPU speedup is worth the 10% CPU slowdown

[2015-01-15 13:18] mourner commented on #682
@ljbade yeah, I don't know how to measure this since it heavily depends on the platform. But 8-10% is probably not going to make much difference because it will probably be fast enough to not be a bottleneck compared to other things that happen when processing a tile (populating buffers, label placement etc.).

[2015-01-15 18:22] #888 closed

[2015-01-15 18:39] #826 closed

[2015-01-15 18:43] jfirebaugh commented on #557
Yeah, not sure we need this.

[2015-01-15 18:43] #557 closed

[2015-01-15 23:57] mourner commented on #682
Triangulation algorithms are driving me crazy again... Implemented hole support in triangulation itself (no hole detection from VT yet), works great! Now trying to get around noticeable artifacts from self-intersections, like this:

![image](https://cloud.githubusercontent.com/assets/25395/5769369/07cf669e-9d23-11e4-9646-2b56170a08f3.png)

[2015-01-16 01:27] lbud opened #937 "Hash breaks the map"
When map is initialized with `hash: true` this error throws and the map doesn't render at all:
![image](https://cloud.githubusercontent.com/assets/3170312/5770191/c45cbb9c-9cdb-11e4-9b83-2d70f1aae514.png)

[2015-01-16 01:43] #937 closed

[2015-01-16 16:17] mourner commented on #682
Returning from the abyss of madness and despair, just published the algorithm as [mapbox/earcut](https://github.com/mapbox/earcut). Made it support holes, fixed some pretty hard to track bugs and hopefully made it more robust. We'll see how it copes on real data again after I implement outer/inner rings classification.

Sample output on a really crappy OSM water polygon with holes:

![](https://cl

[2015-01-16 16:25] bcamper commented on #682
@mourner this is awesome! Thank you for extracting and publishing the module. Would love to see more competition from @brendankenny too ;)  (I probably won't embarrass myself trying.)

[2015-01-16 16:40] mourner commented on #682
@bcamper yeah! It'll be fun to run earcut on Mapzen libtess benchmarks, and run more tests to see how bad it is on cramped OSM data with lots of self-intersections — I'm afraid it will fail hard in some cases. :)

[2015-01-16 17:32] tmcw commented on #929
:+1: Though I'd assume that we would generalize `GeoJSONSource` to be something like `SingleFileSource` in this case.

I do have mild concerns about using importScripts for this in the context of the browserify-bundle issues that have cropped up before, and I'm interested in [workerify](https://github.com/shama/workerify)-like approaches, but... :shrug: those things can happen in prototyping

[2015-01-16 19:48] #836 closed

[2015-01-16 23:46] robschley commented on #656
Is handling map labels that show up on mouse hover within the scope Mapbox GL or is that something that should be handled in HTML/JS? I tried to use some trickery to get the current hover point and bind the GeoJSON properties to a separate symbols layer to dynamically show labels when you mouse over certain GeoJSON polygons but it doesn't work fluidly. I'm using the GeoJSON source `setData()` API

[2015-01-17 00:26] incanus opened #940 "video on map broken in Safari"
https://www.mapbox.com/mapbox-gl-js/example/video-on-a-map/

Works in Chrome, but not Safari.

[2015-01-17 13:42] fnicollet opened #942 "What are the available styles apart from "bright" and "outdoor"?"
Hello,

This is more of a question than an issue.In the examples, those JSON files are used for styles:
https://www.mapbox.com/mapbox-gl-styles/styles/outdoors-v6.json
https://www.mapbox.com/mapbox-gl-styles/styles/bright-v6.json

As well as a satellite one who only references the satellite layer from mapbox.

Are there some other styles available that could be used with mapbox-gl-js? It looks lik

[2015-01-17 15:00] ljbade commented on #942
You can find all the current example styles at https://github.com/mapbox/mapbox-gl-styles/tree/mb-pages/styles which can also be used as a starting point for creating a custom style.

We are currently working on an editor for GL styles, keep an eye on the [blog](https://www.mapbox.com/blog/) for an announcement when we launch it.

@peterqliu: I assume you are familiar with "night" GL styles?

[2015-01-17 17:21] fnicollet opened #943 "Style pencil-v6 shows rendering artifacts and missing elements"
Hello,

In issue #942 , i asked about the available styles apart from "bright-v6" and "outdoors-v6" and @ljbade redirected me to this part of the repo:
https://github.com/mapbox/mapbox-gl-styles/tree/mb-pages/styles

It has a few more styles that I have been experimenting with. The "pencil-v6" one looks pretty cool ! but there are some rendering artifacts, I believe because of the sprite dimension

[2015-01-17 23:22] Sumbera commented on #682
@mourner thanks for earcut ! unbelievable, just quick tested it  on my  geo dataset ( 2256 polygons with 3 328 794 vertexes):

Browser | Earcut [s] | Poly2Tri [s]:
---------  |-----------|---------------
Chrome |  5.1 | 7.2
Firefox  | 4.9 | 6.6
 IE11  | 144.4 (!) | 43.2

[2015-01-18 00:05] mourner commented on #682
@Sumbera what! How can IE11 be 30 times faster than Chrome?
There are still some optimizations that I could try so it may get even faster btw...
I'm also concerned about robustness. Did it triangulate everything correctly in your case?

[2015-01-18 07:43] Sumbera commented on #682
... measured in [s] as seconds, time taken, not [ops/sec]... so IE is 30 times slower...
a brief visual inspection didn't reveal any problems. check  here : http://youtu.be/Cl07z93ImqE

[2015-01-18 09:18] mourner commented on #682
Yeah, I meant slower. :) Glad to see that it's working!

[2015-01-19 20:53] robschley commented on #905
Thanks for the fix! This is a huge improvement.

[2015-01-20 10:08] mourner commented on #682
Sorry for spamming again — this is already turning into memoirs... So, I wrote the rings classification code that seems to sorta work for now (takes maybe ~5-20% of the tessellation time), so finally I was able to see how earcut copes with all the VT data on a live map.

On high zoom levels, it works wonderfully — no noticeable artifacts in dense city areas at all and very fast, which got me very

[2015-01-20 10:38] mourner commented on #682
@brendankenny [here's](http://localhost:3000/debug/#9.52/39.5446/-74.9733/0) the fun libtess result:

![image](https://cloud.githubusercontent.com/assets/25395/5815737/16b492e8-a0a1-11e4-91d8-16aafa4c9570.png)

[2015-01-20 11:48] ljbade commented on #682
Oh man that really sucks. A simplification algorithm that doesn't produce bad polygons? Perhaps too much work.

[2015-01-20 11:53] mourner commented on #682
Managed to get a reduced test case of a bug in hole elimination that produces at least some part of the earcut artifacts, so hopefully we'll get a step closer once it's fixed:

![image](https://cloud.githubusercontent.com/assets/25395/5816683/9dee0cda-a0ab-11e4-9ac1-a756752812d4.png)

[2015-01-20 12:17] brendankenny commented on #682
yeah, that's rough :( Errors in our libraries aside, though, the triangulation can only do so much without specific knowledge about the geometry.

One of the buildings @bcamper gave me for a Mapzen test is a good example -- open the libtess [expectations viewer](https://brendankenny.github.io/libtess.js/test/browser/expectations-viewer.html) and switch the test geometry to `Mapzen single builidng

[2015-01-20 12:25] ljbade commented on #682
So how come these bad polygons don't cause problems with normal rasterisation?

[2015-01-20 14:08] timrobertson100 commented on #866
Hi @canadaka - I hit the same issue as you on this.

The call to load the tiles is executing this method: https://github.com/mapbox/mapbox-gl-js/blob/master/js/util/browser/ajax.js#L23

You might want to explore overloading that function to do what you want there?

[2015-01-20 17:34] mourner commented on #682
OK, now we're getting somewhere!

After hours of crazy debugging and a bunch of [earcut point releases](https://github.com/mapbox/earcut/compare/daec9ef0348901686ee2e6993989cdce83e4610c...master) fixing different race conditions, I can't seem to find any glaring degeneracies browsing the map on zoom 7+. It handles everything pretty well. The only minor issue is sometimes seeing tiny sliver triangl

[2015-01-20 19:13] jfirebaugh opened #944 "PSA: switching to master branch for mainline development"
Problem: `mb-pages` gets published to mapbox.com automatically, but we want to be able to make changes to documentation and examples which get published only when a new version of mapbox-gl-js is officially released. We want to make those changes at the same time (often in the same commit) as the corresponding code changes, and we can't do that on `mb-pages`.

Solution: we're going to try switchin

[2015-01-20 19:13] #944 closed

[2015-01-21 02:48] jfirebaugh commented on #942
Nope, just outdoors at the moment.

[2015-01-21 02:48] #942 closed

[2015-01-21 16:35] mourner commented on #682
Released earcut 1.1.0 today with faster hole handling and more robustness. The library turned out to be pretty awesome. While there's still room for improvement on polygons with lots of points, it's good enough for now.

For a [typical dense map view of DC](http://localhost:3000/debug/#13.48/38.9019/-77.0568) mentioned above, triangulation of 6 tiles takes ~50ms. For a [lower zoom view](http://loc

[2015-01-21 20:26] jfirebaugh commented on #855
Yeah, going to revert to es5. Tooling support for es6 in node is too premature.

[2015-01-21 20:26] #855 closed

[2015-01-21 20:27] jfirebaugh commented on #855
Also, to answer "why not io.js" -- it doesn't yet support the ES6 features we use (arrow functions and object literal extensions).

[2015-01-21 20:27] jfirebaugh commented on #856
@tmcw Still want to do this?

[2015-01-21 20:31] tmcw commented on #856
Nah, karma's a trainwreck. We should use [smokestack instead](https://github.com/hughsk/smokestack).

[2015-01-21 20:32] mourner commented on #855
Yes, sounds good.

[2015-01-21 22:34] jfirebaugh commented on #855
Recording for posterity the reasons to switch back:

* There are no node debuggers that understand source maps, so breakpoints etc. don't work correctly.
* Couldn't get istanbul to work under traceur or 6to5.

[2015-01-21 22:45] thejameskyle commented on #855
You can use [isparta](https://github.com/douglasduteil/isparta) as your instrumentor and it should work fine.

[2015-01-21 23:22] fnicollet commented on #917
Hello @peterqliu , I didn't know this "tilt" branch existed, looks very cool ! Is there an online demo hosted somewhere? Do you know if it will be ready to be merged in master at some point?

Fabien

[2015-01-21 23:35] ansis commented on #917
@fnicollet no online demo yet. It should be possible to get [the perspective branch](https://github.com/mapbox/mapbox-gl-js/tree/perspective) working locally, if you're interested. It will be merged into master at some point, but I'm not sure how soon.

[2015-01-21 23:46] fnicollet commented on #917
Thanks for the quick answer @ansis , unfortunately, it seems that the perspective branch is too far behind and doesn't have some commits for Windows build. I'll wait for the merge :)

[2015-01-22 02:58] jfirebaugh commented on #813
RIP prerendered layers.

[2015-01-22 02:58] #813 closed

[2015-01-22 03:02] jfirebaugh commented on #856
:+1: We can pick that up if we do another browser testing push.

[2015-01-22 03:02] #856 closed

[2015-01-22 03:03] jfirebaugh commented on #127
@ansis Still relevant?

[2015-01-22 03:04] jfirebaugh commented on #511
83.54% coverage, pretty decent.

[2015-01-22 03:04] #511 closed

[2015-01-22 03:06] jfirebaugh commented on #595
https://github.com/mapbox/mapbox-gl-style-spec/issues/47
https://github.com/mapbox/mapbox-gl-style-spec/issues/105

[2015-01-22 03:06] #595 closed

[2015-01-22 03:14] ansis commented on #127
implemented in https://github.com/mapbox/mapbox-gl-js/pull/938

[2015-01-22 03:14] #127 closed

[2015-01-22 11:28] mourner opened #947 "border flickering on some icons during zoom"
Something to do with icon padding and sprite atlas probably.

![gl-icon-bug](https://cloud.githubusercontent.com/assets/25395/5854828/84aa601c-a23a-11e4-8f04-f329d8e8a871.gif)

[2015-01-22 23:04] edenh commented on #750
Confirming here. It looks like just changing all `a_pos` attributes to `highp` is enough to fix this issue.

[2015-01-23 00:08] ljbade commented on #750
@mourner have a look at the way the shader math is done.

Floating point can be more accurate if you are careful with your math operators and the order they occur.

E.g. division will cause more problems than multiplication

[2015-01-23 00:14] edenh commented on #839
@ekelleyv you can half the [`tileSize`](https://www.mapbox.com/mapbox-gl-style-spec/#raster) property in the raster source specification to increase resolution. This does however cause double the amount of tiles to be loaded.

[2015-01-23 23:16] ansis commented on #884
done in https://github.com/mapbox/mapbox-gl-js/pull/938

[2015-01-23 23:16] #884 closed

[2015-01-24 00:09] nickidlugash opened #951 "Lines with line-dasharray property are a bit blurry"
This is not extremely noticeable, but lines with line-dashes appear a bit blurry on non-retina, particularly at the points when the dashes are being stretched out:

![blurry-linedash](https://cloud.githubusercontent.com/assets/5607844/5884981/07349e0a-a333-11e4-9001-0055ccc74859.gif)

If there is a simple fix for this that would be great, but otherwise it's probably not a big deal.

/cc @ansis

[2015-01-24 00:18] lbud commented on #361
I assume this would only be for numeric layout properties?

[2015-01-24 01:02] ansis commented on #951
They were twice as blurry as they needed to be. Fixed in https://github.com/mapbox/mapbox-gl-js/commit/35b42808922506a6039b8bfd3dc10098692c1268 and on native in https://github.com/mapbox/mapbox-gl-native/commit/8f620bed8a5c1cf350f820daa879dad2fe5c3f17

[2015-01-24 01:02] #951 closed

[2015-01-26 17:05] mourner commented on #682
FYI I managed to optimize Earcut with a clever [hashing technique using z-order curve](https://github.com/mapbox/earcut/pull/6) and also much better [hole elimination algorithm](https://github.com/mapbox/earcut/pull/2), so it's now pretty fast even on complex polygons with lots of points (plenty of them on lower zoom levels with water/parks). Latest benchmarks:

(ops/sec)         | pts  | earcut

[2015-01-26 18:40] jfirebaugh commented on #361
Yes, for now. Though https://github.com/mapbox/mapbox-gl-style-spec/issues/237 could apply to equally to paint and layout properties.

[2015-01-26 18:59] jfirebaugh opened #952 "switch to dox+doxme for documentation"
Example: https://github.com/mapbox/mapbox-gl-style-lint/commit/06747a43ea368b17fc335ea85cdfbe2f0461ea9f

[2015-01-26 19:12] mourner commented on #952
It's nice for small modules, but I'm not convinced it will look good with https://www.mapbox.com/mapbox-gl-js/api/ — no table layout for methods/properties and many times more verbose / less skimmable.

[2015-01-26 20:19] lbud opened #953 "symbol-min-distance = 0 will break map"
Setting `"symbol-min-distance": 0` (which is the [specified min](https://github.com/mapbox/mapbox-gl-style-spec/blob/v7/reference/v6.json#L267)) makes the map kind of break, no errors, it just doesn't really work as soon as you zoom past very low z-levels. Setting it to 1 fixes this. Either there's a 0 case that needs to be handled or the min should be 1…?

[2015-01-26 21:36] jfirebaugh opened #954 "performance test harness"
Questions about measuring relative performance of different rendering approaches come up frequently:

* [rendering layer-by-layer vs tile-by-tile](https://github.com/mapbox/mapbox-gl-js/issues/193)
* [tesselation strategy](https://github.com/mapbox/mapbox-gl-js/issues/682)
* [fill-outline vs separate layers](https://github.com/mapbox/mapbox-gl-style-spec/issues/223)

How can we accurately and repe

[2015-01-26 21:57] ansis commented on #953
The min should be 1

[2015-01-26 21:57] lbud commented on #953
:+1: will fix in the spec

[2015-01-26 21:57] #953 closed

[2015-01-26 22:33] ajashton opened #955 "Support newlines in symbol text fields"
If a text field in a vector tile contains a newline character, it is ignored for rendering. For most geodata this would be uncommon, but I think GL should handle this like Mapnik and render the appropriate line breaks.

![screenshot from 2015-01-26 17 17 24](https://cloud.githubusercontent.com/assets/126952/5909535/7380809e-a57f-11e4-8574-55c5ce26f601.png)

[2015-01-26 23:07] #932 closed

[2015-01-26 23:18] Sumbera commented on #682
Browser | Earcut 1.0 [s] | Earcut 1.2 [s]:
---------  |-----------|---------------
Chrome |  5.1 | 3.3
 IE11  | 144.4  | 24.0

awesome 'era'cut  !  thanks !

[2015-01-27 03:42] ljbade commented on #954
A few thoughts:
- Doing this in a CI will be difficult unless you use mesa but the performance will be different to real GPU.
- Important consideration is desktop vs mobile GPUs which have very different architecture
- Real world data/styles - shouldn't be too hard, random selection of Mapbox Streets locations, perhaps weighted by popularity/number of views
- Perhaps could leverage the Android clo

[2015-01-27 22:48] #907 closed

[2015-01-28 02:44] jfirebaugh commented on #754
This should only happen for `mapbox://` sources though -- other sources are not guaranteed to support @2x.

[2015-01-28 03:14] #947 closed

[2015-01-28 15:00] mourner opened #958 "Render suite times out on retina-raster default test"
Some recent builds seem to time out when running the render test suite at some point: https://travis-ci.org/mapbox/mapbox-gl-js/builds/48578759 cc @jfirebaugh

[2015-01-28 16:03] mourner commented on #958
@edenh it started consistently freezing on `retina-raster default` test after your https://github.com/mapbox/mapbox-gl-js/commit/0d0019e37f4b2762a0cf72ab3d22805491d4bd7b and https://github.com/mapbox/mapbox-gl-js/commit/15a5b24026365451f91649af62e0aaa4471c1e60 commits. Can you take a quick look?

[2015-01-28 16:15] mourner commented on #958
Previous commits completely broke GL JS because TileCoord required the browser module which depended on having `window` present, and since TileCoord is used in the worker too, it throwed an error and didn't do anything.

[2015-01-28 16:57] mourner commented on #958
Nah, Mapbox GL JS works, but the Travis build still errors.

[2015-01-28 18:24] edenh opened #960 "Integer zoom snapping option for raster maps"
Scaled raster tiles don't look great. Should we introduce an option to "snap" to integer zoom levels?

[2015-01-28 18:44] ansis commented on #954
This would be very useful. Do you have any ideas on how it should be implemented?

[2015-01-28 19:42] jfirebaugh commented on #960
It should be possible to get much better looking results without requiring integer zoom level snapping. Let's try out a combination of #839 and/or better scaling algorithms first.

[2015-01-28 19:52] peterqliu opened #961 "Add "*-halo-opacity" properties"
For when I'd like hollow text outlines, especially over imagery: text-opacity: 0, halo-opacity:1

![screen shot 2015-01-28 at 11 19 43 am](https://cloud.githubusercontent.com/assets/4551508/5945547/1608eea4-a6e4-11e4-9980-002d3c0ea292.png)

cc/ @kkaefer @ansis

[2015-01-28 20:01] peterqliu commented on #961
A (crazy) alternative here is using image fills for the text itself, that matches the terrain imagery underneath

[2015-01-28 21:59] #754 closed

[2015-01-28 21:59] jfirebaugh commented on #958
Fixed by #959.

[2015-01-28 21:59] #958 closed

[2015-01-28 22:26] #361 closed

[2015-01-28 22:53] jfirebaugh commented on #379
⇢ https://github.com/mapbox/mapbox-gl-style-spec/issues/237

[2015-01-28 22:53] #379 closed

[2015-01-28 23:18] fnicollet opened #962 "Why don't the interstate or major road route numbers show on any zoom level?"
Hello,

I am wondering if this is the expected behaviour or some kind of bug in label placement. A good example is the city of Cleveland, Ohio:
http://www.openstreetmap.org/relation/182130#map=14/41.4887/-81.6851
In the OSM data, the highway references are present. But when rendered via mapbox-gl-js, there is no interstate label (I believe americans use "shields" to displayed the interstate names)

[2015-01-29 00:01] mourner commented on #960
Yeah, snapping to integer zoom won't be a great experience either...

[2015-01-29 07:05] hemanta25 opened #963 "Map rendering takes long time, Performance issue"
In map, I draw 400 markers, but when I zooming the map it takes long time to render the map.It's decreases the performance. Please suggest me how to increase the performance of rendering map.

[2015-01-29 09:23] kkaefer commented on #961
Nah, making outlines from the text is fairly straightforward in shader code.

[2015-01-29 10:44] temsa commented on #917
@ansis "perspective" branch is fun locally.

I had some troubles for doing a quick merge with the "touch" branch too, as the perspective branch uses some older coding conventions.

Yet, this would be very interesting to have both "touch" and "perspective" available, as this would constitute a great basis for creating a Navigation website (using OSRM or a commercial direction+instruction provider),

[2015-01-29 11:57] mourner commented on #963
JSFiddle please?

[2015-01-29 12:04] mourner opened #964 "Better labeling algorithm that works with tilt"
@ansis lets discuss the labeling algorithm that works well in perspective view here.

- What options do we have for labeling behavior?
- What are the potential costs of each option?
- What are the usability concerns?

The first stage was horizontal labels. As the second stage, I think keeping labels projected to the map surface with the same zoom/rotation behavior as plain 2D is fine. Is this bloc

[2015-01-29 12:10] mourner commented on #963
Also, what is your browser? OS? Mapbox GL JS version? Generally you should read this http://www.macwright.org/report-a-bug/

[2015-01-29 16:27] Sumbera opened #965 "Enable custom raster tiled sources like WMS"
Would be great to have WMS or custom raster-tile source url support through official API. {x},{y},{z}  is not used by classic  WMS - based services  where spherical Mercator coordinates are needed as BBOX. Currently WMS works only by hacking into source._loadTile.
Sample and more details also here http://bl.ocks.org/Sumbera/ba554bb5cc8dfe4d7866

for simple bbox support, {mleft}, {mtop}, {mbottom},

[2015-01-29 16:37] mourner commented on #194
I've never seen label double drawing in practice, do you?

[2015-01-29 16:38] mourner commented on #317
Done with #361

[2015-01-29 16:38] #317 closed

[2015-01-29 16:39] mourner commented on #290
Panning performance is pretty good now so not worth worrying about.

[2015-01-29 16:39] #290 closed

[2015-01-29 16:40] mourner commented on #383
Not very slow now. Do we still want to look into this?

[2015-01-29 16:42] mourner commented on #681
Good enough now right?

[2015-01-29 16:42] #681 closed

[2015-01-29 16:46] mourner commented on #774
Probably the same as #899

[2015-01-29 16:46] #774 closed

[2015-01-29 16:50] mourner commented on #820
I assume this is no longer reproducible since pbf can handle big integers now (both signed and unsigned, fixed and varint) .

[2015-01-29 16:50] #820 closed

[2015-01-29 17:23] kkaefer commented on #383
Could still be cool for water to achieve the glow effect that we often use in maps.

[2015-01-29 17:27] lbud commented on #681
^ still problematic in round line joins:
![image](https://cloud.githubusercontent.com/assets/3170312/5962472/0e8b0b02-a799-11e4-9b32-87dbf70f33fd.png)
(https://github.com/mapbox/mapbox-gl-js/issues/794)

[2015-01-29 17:37] mourner commented on #681
@lbud should we keep both open or close one?

[2015-01-29 17:51] lbud commented on #681
Eh keep closed I suppose; I'll refine the scope of the other ticket.

[2015-01-29 17:54] nickidlugash commented on #383
:+1: Even though it's just one specific use case, blurred water really helps so much with the legibility of a map.

[2015-01-29 17:56] lbud commented on #794
More clearly:
![image](https://cloud.githubusercontent.com/assets/3170312/5962955/b4a0b016-a79c-11e4-9aed-67488b2fd39c.png)
![image](https://cloud.githubusercontent.com/assets/3170312/5962963/cd9cc82a-a79c-11e4-90a2-b1e4652ae8bf.png)

[2015-01-29 19:02] peterqliu opened #966 ".setStyle() to empty stylesheet does not wipe map"
Using `.setStyle()` to an [empty stylesheet](https://www.mapbox.com/mapbox-gl-styles/styles/empty-v6.json) successfully clears the `map.style.stylesheet.layers` object, but the map stays visible.

[2015-01-29 19:35] nickidlugash opened #967 "Some dashed lines render crooked"
I'm not sure exactly what the issue is, but some dashed lines that have sharp angles in the geometry look like this (click image for larger view):

![screen shot 2015-01-29 at 2 22 04 pm](https://cloud.githubusercontent.com/assets/5607844/5964604/784cf58a-a7c3-11e4-97ad-dfdd8a88d10a.png)

This style looks fine for straight lines:

![linedash-not-straight](https://cloud.githubusercontent.com/assets

[2015-01-29 20:03] ansis commented on #194
It does show up sometimes, but this isn't something that can be fixed separately from bigger changes.

[2015-01-29 20:03] #194 closed

[2015-01-29 20:36] nickidlugash opened #968 "line dashes don't interpolate between stops"
Stop functions don't seem to get interpolated. It looks like the dasharray is just switching at the onset of the next zoom level in the stop function:

![linedash-stop-functions](https://cloud.githubusercontent.com/assets/5607844/5965712/2e7941f8-a7cc-11e4-8635-1e3fcc27b36b.gif)

[code]

[2015-01-29 20:41] mourner commented on #968
Wasn't this intended behavior? https://github.com/mapbox/mapbox-gl-style-spec/issues/237

[2015-01-29 20:45] jfirebaugh commented on #966
What version are you using?

[2015-01-29 20:59] nickidlugash commented on #968
You're right. For some reason I wasn't thinking this would be the behavior :/

[2015-01-29 20:59] #968 closed

[2015-01-29 21:16] ljbade commented on #967
@ansis How are you interpolating the texture coords in the line triangles?

[2015-01-29 21:21] peterqliu commented on #966
@jfirebaugh reproducible with both https://api.tiles.mapbox.com/mapbox-gl-js/v0.5.2/mapbox-gl.js and our dev.js

[2015-01-29 21:22] peterqliu commented on #966
@jfirebaugh or by opening https://github.com/mapbox/mapbox-gl-styles/blob/v7/index.html and selecting the `empty` style

[2015-01-29 22:19] ansis commented on #967
Yeah, this has been [around for a while](https://github.com/mapbox/mapbox-gl-js/issues/60#issuecomment-26272987). I don't think this would have gotten worse with the recent dash work because the part that causes the problem hasn't changed.

@nickidlugash the best workaround is to use `"line-join": "butt"` or `"line-join": "round"`.

The tessellated line looks something like this:
![screen shot 201

[2015-01-29 22:54] ljbade commented on #967
@ansis you sure you can't correct the skew in the shader? If you know the x texture coord, then you might be able to adjust y to account for the different lengths.

[2015-01-29 23:17] jfirebaugh opened #969 "classes need to be cascaded in order"
If you set multiple classes, they should be cascaded in a deterministic order.

[2015-01-30 00:38] ansis commented on #967
@ljbade you would need to skew in different directions based on which side of the corner you are on. If the vertex is shared between triangles on both sides you can't do this. So you'd have to use separate vertices, which might be ok, but it would double the number of vertices.

[2015-01-30 01:09] ansis opened #970 "line-opacity should work with line-image"
line-opacity has no effect on line-image. It should.

[2015-01-30 03:32] hemanta25 commented on #963
Hi Vladimir,

Good Morning,

My browser version is IE 11,
OS : Windows 7 Professional Service pack 1
Mapbox GL JS version : v1.6.2

Thanks,
Hemant

On Thu, Jan 29, 2015 at 5:40 PM, Vladimir Agafonkin <
notifications@github.com> wrote:

[2015-01-30 03:46] ljbade commented on #967
Ah I see.

[2015-01-30 09:27] fnicollet opened #971 "What is the best strategy for markers and popups?"
Hello,

This is more of a question. Right now mapbox-gl-js seem to have support for markers only in the context of GeoJSON layers (see example https://www.mapbox.com/mapbox-gl-js/example/geojson-markers/). With the featureAt API, it looks like you can do interactions but you need to handle a few things manually.
There doesn't seem to be any example with an API close to leaflet, with methods such a

[2015-01-30 11:39] mourner commented on #971
I think the strategy is eventually making Mapbox GL JS API much easier to use for tasks like this — adding easier marker/interaction-related methods, revising the sprites API in the style spec, adding basic popup support #325 etc. It's more challenging to do right than in Leaflet because technologies are so different, but it's doable. We've just focused on core challenges like rendering and style

[2015-01-30 11:43] mourner commented on #963
There are problems and lacking features in IE11 that make it much slower than other modern browsers like Chrome, Firefox and Safari when it comes to Mapbox GL JS.  The next IE version should get much better in this regard, so up till now we've been focusing on performance in other browsers.

[2015-01-30 11:43] #963 closed

[2015-01-30 14:24] fnicollet commented on #971
I see, thanks :)

If mapbox-gl-leaflet could have a better "sync" with the mapbox-gl layer, it would be an actually very useful proof of concept. I use it in my application and that's the only problem with it (along with rotation)

Fabien

[2015-01-30 16:41] tmcw commented on #952
This is no longer the case

This isn't specific enough to fix

[2015-01-30 18:52] #970 closed

[2015-01-30 22:01] nickidlugash opened #972 "Using `fill-image` and `background-image` creates visible borders"
There are white borders around images when `fill-image` is used:

![screen shot 2015-01-30 at 4 52 57 pm](https://cloud.githubusercontent.com/assets/5607844/5984159/7b6405ea-a8a1-11e4-99a9-8018336795a2.png)

[2015-01-30 23:14] edenh opened #973 "Calling setData on geojson sources causes flickering"
`source.setData` is being called on mousemove in this example:

![draw](https://cloud.githubusercontent.com/assets/1577766/5985089/8c17eec4-a892-11e4-899b-917e1169b7b5.gif)

[2015-01-30 23:23] mourner commented on #973
@edenh yes, because on ever setData, you need to send it to the worker, process it and send back. We could make this a bit better by not removing the line until the main thread gets new processed data.

For a smoother experience on specific use cases like this where data is very small and coordinates don't get away from the current tile too much, but needs to be rendered fast, we could implement a

[2015-01-31 00:17] nickidlugash commented on #943
@fnicollet Thanks for ticketing. These are fixed in [`pencil-v7`](https://github.com/mapbox/mapbox-gl-styles/blob/v7/styles/pencil-v7.json)

Note that currently there is still a rendering issue with tiling: https://github.com/mapbox/mapbox-gl-js/issues/972

[2015-01-31 00:17] #943 closed

[2015-01-31 14:39] mourner commented on #952
I mean methods and properties, not parameters.

Generally, something that takes one row in the current docs will take a whole screen when converted to generated docs without necessarily improving documentation content (more detailed !== better), making the docs much harder to read.

[2015-01-31 23:27] tmcw commented on #952
So... what you're saying is that we should improve doxme? Like, it's software that I wrote and can be improved like other software.

[2015-02-01 00:48] mourner commented on #952
@tmcw yes, I'm now reading about jsdoc and scratching my head around how to make Leaflet-like docs from dox-generated output. :)

[2015-02-01 11:29] fnicollet commented on #943
Thanks @nickidlugash , I just tried pencil-v7 and it works well :)

I can notice the bug #972 but only while zooming between zoom levels. When being at exactly a zoom level, there is no white border.

I found another rendering issue with pencil tho, I am going to open another ticket for it with details

[2015-02-01 11:31] fnicollet commented on #972
This issue only happens between "integer" zoom levels. If you use mapbox-gl-leaflet, which restrict the mapbox-gl layer to only integer zoom layers, you can't see the issue. But when you zoom in and out, you can see the borders appear during the animation.

Probably just a rounding pixel issue somewhere :)

[2015-02-01 11:54] ljbade commented on #969
Also should think about handling the same class multiple times due to not using a set.

[2015-02-01 15:14] fnicollet opened #974 "Rendering artifacts on buildings when using pencil-v7 style"
Hello,

I opened issue #943 which has been fixed by using the pencil-v7 style. It fixes most issues I was having  but I now have rendering artifacts with pencil-v7, it happens on every building, see this screenshot:

![image](https://cloud.githubusercontent.com/assets/1240481/5992509/dfab905e-aa2c-11e4-8369-1ca6b12d8196.png)

(it creates some smiley faces on some buildings but that's not the point

[2015-02-02 19:46] jfirebaugh opened #975 "update to latest mason / mesa 10.4.3"
Update mason to latest version and the mesa dependency to 10.4.3 (or latest version available).

[2015-02-02 20:34] robschley commented on #973
This would also help us. We have some use cases that require manipulating a very small amount of data via the setData API and flickering/lag is noticeable.

[2015-02-02 22:21] #975 closed

[2015-02-02 22:57] #971 closed

[2015-02-03 00:50] #966 closed

[2015-02-03 09:46] ljbade commented on #794
I have noticed this in native too. Came up recently when my line dashes were bugging out but still see it on other transparent lines.

[2015-02-03 22:15] fnicollet commented on #972
Hello,
Just updated and rebuilt. The issue still happens during the animation between integer zoom levels (say when zooming from zoom 8 to 7 or 7 to 8). Maybe a little less than before, but still.
Reproduced on Windows (not retina), on IE11

Fabien

[2015-02-03 22:30] ansis commented on #972
@fnicollet could you take a screenshot? thanks

[2015-02-03 22:36] fnicollet commented on #972
It happens during the animation so I had to take the screenshot during the short time of the zoom animation:

![scr](https://cloud.githubusercontent.com/assets/1240481/6031181/7cf6b25e-abfd-11e4-913d-bdd47a67d1a3.jpg)

[2015-02-04 01:51] alexmuro opened #977 "changing filters in casade or mutable vector tile features"
I am trying to do a basic map where the feature I am hovering over changes color [example](http://bl.ocks.org/mbostock/4657115)

  My approach so far is to make 2 layers in my source, 1 with all features from a vector source and 1 which is filtered to a single feature.  Then I do this
[code]
  This works but map.setStyle() takes way too long to re render the map to create a fluid effect.

  I know

[2015-02-04 01:58] jfirebaugh commented on #977
Hi Alex -- the short answer is that there isn't a good way to do this right now. See #146 and #200 for issues tracking this use case.

[2015-02-04 01:58] #977 closed

[2015-02-04 19:01] mourner opened #978 "Scroll zoom speed is different on FF vs Chrome"
I'm not sure if this is something that can be fixed or purely a browser issue, but scroll zoom speed on FF is noticeably lower than Chrome (about ~1.5x), at least on Macbook trackpad.

[2015-02-07 04:41] ansis commented on #923
fixed in 49c279c

[2015-02-07 04:41] #923 closed

[2015-02-09 17:26] mpetroff opened #980 "First Part of Attribution Selected on Double-click in Chrome"
When double-clicking to zoom in on Chrome, the first part of the attribution text is selected. This doesn't happen on Firefox. See https://github.com/mpetroff/print-maps/issues/1.

[2015-02-09 19:05] ansis commented on #964
dump of  my notes on labelling:

Currently, for each label, we precompute zoom range and a rotation range it can be shown. Trying to precompute everything is a bad idea because it isn't precise enough for dense placement in rotated views, because it is slow.

We should precompute less and rerun collision detection when the view changes. The collision detection would be asynchronous and it would ju

[2015-02-09 19:11] mourner opened #981 "Support animating the camera along a path"
With the perspective view in place, we'd want to easily make flight animation that follows a particular set of points, e.g. like Cesium does: http://www.doarama.com/view/160847

[2015-02-09 20:28] jfirebaugh opened #982 "add layers and contours toggles to satellite example"
Followup to https://github.com/mapbox/mapbox-gl-styles/issues/17.

[2015-02-09 21:17] nickidlugash opened #983 "`line-width` does not interpolate between some function values"
I can't figure out exactly what the issue is, but I have a style with this width constant:

[code]

And it is assigned to both the `line-width` of a road layer, and the `line-gap-width` of a road casing layer. The `line-gap-width` of the road casing layer interpolates between all three stops in the function, but the `line-width` of the road layer doesn't seem to interpolate between the first two s

[2015-02-09 21:41] lbud opened #984 "draw_background is trying to draw an object, rather than a color array"
In `master`:
[This line](https://github.com/mapbox/mapbox-gl-js/blob/master/js/render/draw_background.js#L75) should be passing an array to the draw call as `color`, but is as of recently passing a color object and erroring:
![image](https://cloud.githubusercontent.com/assets/3170312/6116345/d7b0d762-b060-11e4-93c1-11ae4cce7ea8.png)
![image](https://cloud.githubusercontent.com/assets/3170312/61163

[2015-02-09 21:44] ansis commented on #984
Is your style spec up to date?

[2015-02-09 21:53] lbud commented on #984
Ah, good catch — it was locally linked to an outdated version. I need to write something into my bash profile to update all 1000 relevant repos at once : \

[2015-02-09 21:53] #984 closed

[2015-02-09 22:00] jfirebaugh commented on #983
Traced this to a style bug (differing `minzoom` values for the fill and casing).

[2015-02-09 22:00] #983 closed

[2015-02-09 22:35] jfirebaugh opened #985 "add API for mutating a layer's filter"
Requested in https://github.com/mapbox/mapbox-gl-js/pull/755#issuecomment-73604841.

[2015-02-10 02:29] ansis opened #986 "improve initial line label interpolation offset"
The first label is currently placed the full `symbol-min-distance` from the beginning of the line. The default is 256, so no line labels are ever placed for lines shorter than that.

This kills most road labels. Especially at z13.

The initial offset should be half the label length + a bit so that the first label starts soon after the beginning of the line.

[2015-02-10 07:49] ljbade commented on #964
@ansis Everything sounds good to me, particularly denser labelling.

It will be interesting so see what algorithm you eventually use/pick to be really fast.

[2015-02-10 09:08] SupremumLimit opened #987 "Error when adding multiple markers: "TypeError: undefined is not an object (evaluating 'i.leaf')""
I'm getting this error with v0.6.0 of the API. The error seems to appear when adding more than ~5 markers. Fewer is OK.

I'm calling `setData` to update the source data:

    @nodesSource.setData result

where `result` is, for example:

    {"type":"FeatureCollection","features":[{"type":"Feature","geometry":{"type":"Point","coordinates":[37.7057877,55.6262796]},"properties":{"id":3039917461}},{"t

[2015-02-10 18:04] robschley commented on #985
Here are a couple use-cases that would benefit from dynamic manipulation of layer filters. All of our use-cases involve large amounts of complex geometries, e.g., 10K polygons is our base test set but we expect to operate in the range of 10K to 100K polygons within the map at one time… possibly more depending on how things shake out.

1. Visualizing temporal data — Our data shows the development o

[2015-02-10 18:17] robschley commented on #985
Another option, since the filtering is turned into functions anyway (in feature-filter code), would it be possible to just pass in a filter JavaScript function? I suppose the same limitation will exist unless there is a mechanism to reevaluate the functions periodically or forcefully. This makes me think of AngularJS's "digest cycle".

[2015-02-10 18:58] kapadia commented on #964
After getting background on the problem from @ansis and @mourner, we decided that a good first step is to improve the performance of the current implementation. One concern has been that the density of labels is too low, but this looks to be associated with another bug #986.

Curved label collisions are currently checked by detecting collisions between the bounding box of each glyph in a label. Th

[2015-02-10 19:49] mourner commented on #472
Is this duplicate of #471?

[2015-02-10 19:51] mikemorris commented on #472
@mourner Nope, RTL is pretty straightforward for non-complex scripts like Hebrew.

[2015-02-10 19:51] mourner commented on #751
Do we still need with the new style properties API?

[2015-02-10 19:55] mourner commented on #652
Is this still reproducible on latest FF/Win?

[2015-02-10 19:56] ljbade commented on #964
what algo is used for collisions currently?

[2015-02-10 19:59] mourner commented on #964
@ljbade https://www.mapbox.com/blog/placing-labels/

[2015-02-10 20:01] jfirebaugh commented on #987
@SupremumLimit Can you provide a JSFiddle?

[2015-02-10 20:08] jfirebaugh opened #988 "hide "Improve this Map" link in print"
Follow https://github.com/mapbox/mapbox.js/pull/946

[2015-02-10 20:58] SupremumLimit commented on #987
Here is a JSFiddle: https://jsfiddle.net/dh227maf/1/

Press "Show nodes" and you'll see the error in the console. I get the error both in Safari and Chrome.

[2015-02-10 21:09] SupremumLimit opened #990 "Confusing error if a style doesn't have a matching source"
If I add a style but don't add a matching source immediately, I get this error in Safari:

    TypeError: Attempted to assign to readonly property.

or this error in Chrome:

    Uncaught TypeError: Cannot set property 'used' of undefined

Here is a fiddle which demonstrates this: http://jsfiddle.net/7zfxue2g/

It would be nice if the error hinted at the actual problem (it took me hours to work th

[2015-02-10 21:19] jfirebaugh commented on #990
The way that we would address this is by validating incoming styles, which is being discussed in #796. In the meantime, you can use [mapbox-gl-style-lint](https://github.com/mapbox/mapbox-gl-style-lint) to validate styles externally.

In general complete independence is unlikely -- we are likely to want to maintain the invariant that every layer must reference a valid source -- but we will probabl

[2015-02-10 21:19] #990 closed

[2015-02-10 22:27] #987 closed

[2015-02-10 22:31] jfirebaugh opened #991 "source map is broken"
Individual files appear, but the source is all on one line and variable names are mangled.

[2015-02-10 23:21] ljbade commented on #964
Cool, be awesome if you published your improvements as an academic paper.

[2015-02-11 01:07] jfirebaugh commented on #952
Yeah, likewise I just spent a few hours with dox + doxme and quickly got convinced that they're not going to work very well for OO libraries. There's not really any support in dox for object hierarchies, instance methods, etc. Which is fair, it's a hard problem and dox is aiming for a simple solution for the small module crowd.

See e.g. https://github.com/tj/dox/pull/85 and https://github.com/tj/

[2015-02-11 02:22] tmcw commented on #952
Hm, what about jdoc itself though?

On Tue, Feb 10, 2015 at 8:07 PM, John Firebaugh <notifications@github.com>
wrote:

[2015-02-11 02:39] jfirebaugh commented on #952
Yeah, jsdoc itself seems flexible enough. [Here's what I cooked up for mapbox-directions.js](https://github.com/mapbox/mapbox-directions.js/commit/88245b2778e88a59a3986891b2e81b239208fb96) based on a rudimentary understanding of jsdoc.

[2015-02-11 08:35] jgillich commented on #652
I just tried the [example](https://www.mapbox.com/mapbox-gl-js/examples/), works fine now.

[2015-02-11 08:37] mourner commented on #652
Yay!

[2015-02-11 08:37] #652 closed

[2015-02-11 16:29] mourner commented on #973
Grabbing this today.

[2015-02-11 23:12] mourner commented on #986
we're good now

[2015-02-11 23:12] #986 closed

[2015-02-11 23:27] mourner opened #992 "Line join tessellation is broken on sharp angles"
[code]

![image](https://cloud.githubusercontent.com/assets/25395/6158747/6bedf44e-b202-11e4-96a3-0507c4bcb383.png)

[code]

![image](https://cloud.githubusercontent.com/assets/25395/6158749/737bf8fa-b202-11e4-9427-a9b9370e8059.png)

[2015-02-12 00:45] peterqliu opened #993 "Allow the geometry of a polygon layer to be "inverted""
**tl;dr** a layout option to render the areas polygons _aren't_

I'd like to make a flood map where water levels rise from low to high. If we imagined this happening on an island:

![screen shot 2015-02-11 at 4 41 06 pm](https://cloud.githubusercontent.com/assets/4551508/6159624/e386e150-b20c-11e4-89b4-ccf5dff141da.png)

The water would creep from outside in, and I would simulate this by adding su

[2015-02-12 00:51] jfirebaugh commented on #993
Can't you do this with a "water" background layer at the bottom and then hide the land pancakes from the bottom up (low elevation to high elevation)?

[2015-02-12 00:53] peterqliu commented on #993
@jfirebaugh i can if all the land is one color. When we add landcovers and roads, that'll sit on top of the water-- I think i'll actually need a water layer **on top** of everything, to simulate the raised water level

[2015-02-12 00:59] ansis commented on #993
Can you handle this on the data side by inverting the layer before creating the vector tiles?

[2015-02-12 01:12] jfirebaugh commented on #751
https://github.com/mapbox/mapbox-gl-function / https://www.npmjs.com/package/mapbox-gl-function

[2015-02-12 01:12] #751 closed

[2015-02-12 01:23] peterqliu commented on #993
@ansis per chat with @MateoV, it would be pretty heavy to do this for the whole planet. But I also think this would be useful elsewhere: imagine `render-inverse` on the `#water` layer to select all landmasses-- this would free us to put land on top of water, enabling us to do drop shadows of land onto water

![screen shot 2015-02-11 at 5 18 37 pm](https://cloud.githubusercontent.com/assets/4551508

[2015-02-12 02:49] #988 closed

[2015-02-12 02:51] jfirebaugh commented on #962
This was fixed by #989.

[2015-02-12 02:51] #962 closed

[2015-02-12 18:47] ljbade commented on #993
This sounds hard now that the stencil buffer has been dropped.

[2015-02-12 19:03] mourner commented on #993
@peterqliu actually it would be very easy to do on the JS side after we're done with https://github.com/mapbox/mapnik-vector-tile/issues/59.

So lets say we have many multipolygons in the input data that look like this:

[code]

An inverse of these then we'll look like this:

[code]

[2015-02-12 19:08] mourner commented on #993
@springmeyer yet another use case for a defined ring order in VT (in addition to tessellation)

[2015-02-12 19:25] jfirebaugh opened #994 "source.reload() does not reload cached tiles"

[2015-02-12 19:30] jfirebaugh commented on #985
Thanks @robschley, that's very helpful. I've sketched out a basic implementation that follows the same pattern as `get/setLayoutProperty`. Right now it resets the whole source, so there's definitely room for performance improvements if necessary. We'll also probably want to follow a similar approach for flicker reduction for GeoJSON sources as @mourner is working on in #973.

[2015-02-12 19:33] springmeyer commented on #993
:+1: @mourner

[2015-02-12 19:42] jfirebaugh commented on #985
To answer your question about JS functions as filters: there are two technical reasons why we don't do this. One is that the filters are evaluated on web workers, and functions [can't be transferred](https://developer.mozilla.org/en-US/docs/Web/Guide/API/DOM/The_structured_clone_algorithm) from the main thread to a worker. The second is that we need to maintain parity with mapbox-gl-native. We're

[2015-02-12 20:32] tmcw opened #995 "fitBounds padding options"
fitBounds [supports padding on all sides](https://www.mapbox.com/mapbox-gl-js/api/#new-mapboxgl-map-options--map-method-options) but it would be useful to support padding on specific edges, or provide a `[wsen]` array to support usecases like sidebar'ed maps.

[2015-02-12 21:24] fnicollet commented on #962
Hello,

Did you try it on Cleveland after #989 ? Just built a version with the latest changes and It doesn't seem to change anything:
Before
![image](https://cloud.githubusercontent.com/assets/1240481/6177286/a6c8f9d4-b305-11e4-9ceb-36f0adc7b062.png)
After
![image](https://cloud.githubusercontent.com/assets/1240481/6177295/b4630bfc-b305-11e4-9759-b1d06dd8ae03.png)

Labels are the same, if you over

[2015-02-12 21:36] fnicollet opened #996 "Recent changes messed up the railroad styles in IE11"
Hello,
Here is a screenshot of the same data with a build from 3 February in IE:
![image](https://cloud.githubusercontent.com/assets/1240481/6177487/8a8c88e2-b307-11e4-939c-5e050ba6c0fa.png)

and here is one that i just build (right after https://github.com/fnicollet/mapbox-gl-js/commit/e43c1d7ba77e71f592bf5d85c20206ee872f668c):

![image](https://cloud.githubusercontent.com/assets/1240481/6177451/

[2015-02-12 21:38] jfirebaugh commented on #996
Did you update the style for [line-dasharray changes](https://github.com/mapbox/mapbox-gl-style-spec/blob/mb-pages/CHANGELOG.md#700)?

[2015-02-12 21:39] fnicollet commented on #962
Nevermind, I actually didn't update the right branch or something, I am not on master but on mb-pages so I don't have this commit yet

[2015-02-12 21:42] fnicollet commented on #996
ah i am still using v6 styles, that must be it, thanks!

[2015-02-12 21:45] #996 closed

[2015-02-12 21:48] fnicollet commented on #996
Just tried with the v7 styles, it was the issue, thanks a lot !

[2015-02-13 02:46] #973 closed

[2015-02-13 02:47] mourner commented on #973
@robschley try now!

[2015-02-13 21:35] nickidlugash opened #998 "Fill images are cropped"
It looks like fill images are being cropped:

![fill-image-truncated](https://cloud.githubusercontent.com/assets/5607844/6195599/c65fa3d6-b39d-11e4-9412-021c1f8781c9.png)

And

![screen shot 2015-02-13 at 4 31 50 pm](https://cloud.githubusercontent.com/assets/5607844/6195611/dfa7a348-b39d-11e4-80ae-77264ef334ab.png)

The first example uses a image file that is 16 x 8px, the second uses one that is

[2015-02-13 21:37] ansis commented on #998
How are these sprites being created?
Can you push the sprites and styles somewhere?

[2015-02-13 21:45] nickidlugash commented on #998
@ansis the first style is [the latest Bright](https://github.com/mapbox/mapbox-gl-styles/blob/mb-pages/styles/bright-v7.json). I'm pretty certain that the sprite was created with the [`build-sprite` script](https://github.com/mapbox/mapbox-gl-js/blob/master/bin/build-sprite.js).

[2015-02-16 17:28] robschley commented on #985
@jfirebaugh Thanks for this, it's a super simple API. I tried it out this morning and it works but it has the same flicker problem as in #973. I pulled down the latest master and the `setData()` flicker seems to have been fixed. I noticed that the filter-api branch was created after #973 was fixed. Would rebasing the filter-api branch off master fix this problem or would it require more work? Also

[2015-02-16 17:34] robschley commented on #973
@mourner The flicker is gone when using the `setData()` API, it is still a little jumpy if the setData API is called frequently but it does not flicker all the data which is a huge improvement. I wonder if it would be possible to animate/transition when using `setData()`? I suspect that would be a lot of work but it might be something to add to the backlog. Thanks for tackling this issue!

[2015-02-16 17:41] mourner commented on #973
@robschley hmm, can you demonstrate the jumpiness with a JSFiddle? I haven't seen that.

[2015-02-16 19:47] jfirebaugh commented on #42
Fixed on the tile-serving side.

[2015-02-16 19:47] #42 closed

[2015-02-16 20:46] #994 closed

[2015-02-17 01:17] jfirebaugh opened #1000 "navigation buttons should be button elements"
Not anchor elements.

[2015-02-17 02:21] #1000 closed

[2015-02-17 03:08] jfirebaugh commented on #985
@robschley Try latest master, it contains both changes.

[2015-02-17 16:46] nickidlugash commented on #998
@ansis [Latest Bright](https://github.com/mapbox/mapbox-gl-styles/blob/mb-pages/styles/bright-v7.json) now looks like this, with visible gaps between the image tiling:

![screen shot 2015-02-18 at 12 37 28 am](https://cloud.githubusercontent.com/assets/5607844/6232485/3a908b8c-b707-11e4-9714-0f7e11623c75.png)

Is there anything I should do to optimize this on the image-file creation side?

[2015-02-17 16:47] nickidlugash commented on #998
^ That was a retina screenshot. I currently don't have access to a non-retina screen.

[2015-02-17 20:01] kapadia commented on #964
Last week we started a new repo to help address the performance of the current labeling approach. The idea is to use fewer bounding boxes to detect collisions - the current approach is a little wasteful. [bboxify-labels](https://github.com/mapbox/bboxify-labels) accepts a polyline, anchor, and label length to produce a series of bounding boxes that approximate the position of a label on a polyline

[2015-02-17 20:28] jfirebaugh opened #1001 "Popup example"
GL analog of https://www.mapbox.com/mapbox.js/example/v1.0.0/utfgrid-data-popup/ with data from vector tiles.

Possibilities:

* Recreate NPR station map in GL. Needs https://github.com/mapbox/mapbox-gl-js/issues/358 and https://github.com/mapbox/mapbox-gl-style-spec/issues/105
* POIs from Mapbox Streets
* trimet rail stops justin.1c661773 or food carts food carts justin.98007e0e

@peterqliu I jus

[2015-02-17 21:48] jfirebaugh opened #1002 "Add a "layers" parameter to "Evented#on""
Map events should accept an optional second parameter which is the name of a layer or an array of layer names for which to delegate events. Internally, this would bind an event handler that uses `featuresAt` and dispatches the event only when it matches features from the given layer(s). The features themselves would be passed as a member of the event object. For example:

[code]

This should not r

[2015-02-17 22:54] mourner commented on #1002
This may be tricky, because you need to reparse tiles when `interactive` for a layer changes.

[2015-02-18 01:35] jfirebaugh opened #1003 "Vendor prefix Popup's use of transforms"
http://caniuse.com/#feat=transforms2d

So we need `-webkit` for Safari support, but should make this generic anyway.

[2015-02-18 01:48] ansis opened #1004 "reload, scale, and clip tiles for z > source.maxZoom"
For zoom levels greater than a tile source's max zoom level, load lower zoom level tiles and clip them.

We need this so that
- layout properties are reprocessed at higher zoom levels
- label placement only needs to place labels 1 zoom level deep

[2015-02-18 02:01] #1003 closed

[2015-02-18 02:57] mourner commented on #1004
Capturing discussion with @ansis — I think it should be much easier to modify tile pyramid to replace parent tile on higher zoom levels than implement tile clipping for overzoomed tiles.

[2015-02-18 04:39] jfirebaugh commented on #325
Basic implementation is there. There are some features of L.Popup that I'm comfortable not supporting for now (or ever):

* `minWidth`/`maxWidth`/`maxHeight` options -- should be done with CSS if desired
* opacity transition -- should be done with CSS if desired
* having an open/close state that is separate from "on the map"/"removed from the map"
* `map.openPopup()`/`map.closePopup()`

Features w

[2015-02-18 04:46] mourner commented on #325
Yeah, sounds good. I'm up for auto-anchoring, although `autoPan` would still be useful, it would just not pan as much with auto-anchoring — just a little in some cases like popup in a corner.

[2015-02-18 04:48] mourner commented on #325
Or we could do something like http://erictheise.github.io/rrose/ — anchoring to 6 sides.

[2015-02-18 17:36] jfirebaugh commented on #325
Yeah, the rrose behavior is what I had in mind. I wonder if there's any way to do it with pure CSS.

[2015-02-18 21:21] StevenLooman opened #1006 "featuresAt with GeoJSON source containing a linestring only hits on coordinates"
See this [JSFiddle](http://jsfiddle.net/ssLf2rqs/2/) Hover on the coordinates of the line, and you'll see a hit. Hover on a segment between two coordinates, and no hit is reorted.

[2015-02-18 21:23] mourner commented on #1006
Yep, confirmed.

[2015-02-19 03:34] jfirebaugh opened #1010 "featuresAt should return GeoJSON"
Specifically, a FeatureCollection.

This is the natural format for "a collection of features, including properties and geometry", which is what featuresAt wants to return.

Related: https://github.com/mapbox/mapbox-gl-js/issues/723.

[2015-02-19 06:56] peterqliu commented on #1010
+1

would obviate having to [stuff latlng into `feature.properties`](https://github.com/mapbox/mapbox-gl-js/pull/1009/files#diff-87445e61148291d6f3e9ab31f79caea4R83)

[2015-02-19 23:16] jfirebaugh opened #1011 "use turf for hit testing in feature_tree.js"
At least [this code](https://github.com/mapbox/mapbox-gl-js/blob/d4203769183141a98d510117efac90aaae506394/js/data/feature_tree.js#L68-L127), and possibly all of feature_tree.js, should be replaced with modules / a module from turf.

cc @morganherlocker

[2015-02-19 23:23] mourner commented on #1011
:+1:

Yeah, we would need rbush-based GeoJSON indexing module for this, which is on the Turf roadmap.

[2015-02-19 23:28] jfirebaugh commented on #1011
Ref: https://github.com/Turfjs/turf/issues/173

[2015-02-19 23:42] mourner commented on #1011
I think it's easier to leave indexing on the app side for now because it's super simple.

[2015-02-19 23:47] jfirebaugh commented on #200
I've been thinking about this in terms of pseudo-classes. Imagine you can define a style layer like:

[code]

[Insert handwaving about how pseudo-class state for a given feature would be determined (mouseover for `:hover`, click for `:active`).]

[2015-02-19 23:49] mourner commented on #200
@jfirebaugh I like it. This separates styling interactive features and actual behavior (which would be defined in JS), while also being less cumbersome than defining classes.

[2015-02-19 23:57] jfirebaugh commented on #656
Lately I've been thinking of "Markers" as being more of a series of incremental improvements and additions than as a monolithic feature. These include:

* Data-driven styling (https://github.com/mapbox/mapbox-gl-js/issues/146). This is in itself a collection of features:
  * Data-driven functions (a.k.a. "scales" -- https://github.com/mapbox/mapbox-gl-style-spec/issues/226)
  * Arithmetic operator

[2015-02-20 00:09] peterqliu commented on #1001
--> https://github.com/mapbox/mapbox-gl-js/pull/1009

[2015-02-20 00:09] #1001 closed

[2015-02-20 01:07] jfirebaugh opened #1013 "replace debug/style.json with bright-v7.json from mapbox-gl-styles"
Use a git+https url in package.json to pull down mapbox-gl-styles, copy or symlink it into debug as a build step.

[2015-02-20 01:10] incanus commented on #656
Awesome, great way to break the progression down @jfirebaugh.

As I showed in chat the other day with @kkaefer @1ec5, on the native side, we have a high bar for markers to "just work" in the way that devs expect.

--

![markers](https://cloud.githubusercontent.com/assets/17722/6279681/9b08e218-b859-11e4-8d21-aeb3137e6233.gif)

*Note how selection changes despite the gesture location not changing,

[2015-02-20 18:41] ansis opened #1014 "bboxify boxes sometimes have NaN x and y values"
Sometimes the x and y values for boxes are NaN. We are currently skipping them here https://github.com/mapbox/mapbox-gl-js/blob/0d7badd14f16366f461a134e6484cc292f28e3d4/js/placement/placement.js#L44

They should never be NaN.

[2015-02-20 18:47] ansis opened #1015 "change bboxify input and output to avoid conversion"
We currently [convert before calling bboxify]( https://github.com/mapbox/mapbox-gl-js/blob/0d7badd14f16366f461a134e6484cc292f28e3d4/js/placement/placement_feature.js#L14-L21).
[And after](https://github.com/mapbox/mapbox-gl-js/blob/0d7badd14f16366f461a134e6484cc292f28e3d4/js/placement/placement_feature.js#L27-L31).

We should get rid of this.

[2015-02-20 19:46] lbud commented on #1006
Actually, I'm seeing this in regular vector tile sources as well — you can see this in https://www.mapbox.com/mapbox-gl-js/example/featuresat/

[2015-02-20 20:04] ansis opened #1016 "fix label bbox sizes"
Sometimes labels go out of their boxes:
![screen shot 2015-02-20 at 11 58 57 am](https://cloud.githubusercontent.com/assets/1421652/6308279/f4678bae-b8f7-11e4-8340-dfc0a869ab50.png)

It looks like the length of the last line is not being considered when calculating the bbox.

It calculates the bbox in [js/symbol/shaping.js](https://github.com/mapbox/mapbox-gl-js/blob/0d7badd14f16366f461a134e6484cc

[2015-02-20 20:17] ansis opened #1017 "re-add support for text- and icon-padding"
It could probably be added here https://github.com/mapbox/mapbox-gl-js/blob/82967e121ee44d99e93a07162e94baabafdc40fd/js/data/symbol_bucket.js#L228-L231

[2015-02-20 20:20] jfirebaugh opened #1018 "GeoJSONSource#reload shouldn't re-transfer data to worker"
`reload` is called for `setFilter`, which should avoid the overhead of data transfer and just use the data the worker already has.

[2015-02-20 21:51] #1004 closed

[2015-02-20 22:17] ansis opened #1019 "vectortile parsing error"
`Uncaught TypeError: Cannot read property 'push' of undefined`
`vectortilefeature.js:76`
https://github.com/mapbox/vector-tile-js/blob/5b562b945aa552f48b3e0b6fb37c5de08a5219af/lib/vectortilefeature.js#L76

This happens when parsing tile 11/572/748
`http://localhost:3000/debug/#11.3/43.5449/-79.4266/-17.3`

[2015-02-21 01:32] ansis opened #1020 "get rid of old keep-upright approach"
background:
By default line labels have `"text-keep-upright": true`. When you rotate far enough for the label to be upside down, if flips to stay upright. Currently this is implemented by having two versions in the buffers. Each version has an angle properties. That version of the label is hidden or shown based on the angle property.

Now that we are redoing placement every time the map rotates we

[2015-02-21 01:34] kapadia commented on #1014
@ansis This is now fixed. The NaNs were produced when walking along a vertical segment of the polyline. The next step along the polyline requires computing the slope of the segment. In the case of a vert segment, the slope is Inf.

Fix is at: https://github.com/mapbox/bboxify-labels/blob/1a1904f61b7bb4a7f8d329115bd5deb9d3d3f7e4/index.js#L43-L44

[2015-02-21 01:34] #1014 closed

[2015-02-21 01:45] jfirebaugh opened #1021 "map.addSource() should accept a POJSO"
(plain-old JavaScript object)

e.g.:

[code]

[2015-02-21 01:47] jfirebaugh opened #1022 "add API for layers"
addLayer, removeLayer

* addLayer should take an optional argument specifying a layer id to insert before.
* What should removeLayer do if you remove a referent layer?

[2015-02-21 02:14] kapadia commented on #1015
@ansis `bboxify-labels` now conforms to the input/output needed by gl.

[2015-02-21 02:14] #1015 closed

[2015-02-21 16:08] tmcw opened #1024 ".npmignore for /test"
This repo has a bunch of text fixtures - these shouldn't be in the npm package.

[2015-02-23 18:04] #1024 closed

[2015-02-23 21:06] tmcw opened #1025 "fitBounds supports an `offset` option but it's not mentioned in the docs"
https://github.com/mapbox/mapbox-gl-js/blob/f00e0e932fe9dba3bdd108f0977e6f68b2a9a4d2/js/ui/easings.js#L170-195

[2015-02-24 02:19] kapadia commented on #1020
@ansis https://github.com/mapbox/mapbox-gl-js/pull/1026 should address this issue. Symbols are now filtered based on their global orientation.

This was a little weird since there are various conventions being used for rotation. For instance the `placement.angle` (rotation of the map) is specified between `[-π, π]`, whereas the symbol orientation is specified between `[0, 2π]`. Any reason for thes

[2015-02-24 04:23] jfirebaugh commented on #1011
`turf.inside(point, turf.buffer(feature))` is the obvious way to do this currently, but that pulls in JSTS which we definitely don't want in gl-js.

[2015-02-24 04:24] jfirebaugh commented on #1010
⇢ #1027

[2015-02-24 04:24] #1010 closed

[2015-02-24 04:35] #991 closed

[2015-02-24 06:12] mourner commented on #1011
@jfirebaugh creating a buffer is unnecessarily expensive here... Is there an equivalent to `distance(point, feature`?

[2015-02-24 16:28] morganherlocker commented on #1011
@jfirebaugh I would only pull in turf modules on a case by case basis for something like this. [turf-inside](https://github.com/Turfjs/turf-inside) does not depend on JSTS.

[2015-02-24 16:44] mourner commented on #1011
@morganherlocker turf-buffer still does.

@jfirebaugh I think it's fine to keep the code. It's not generic so it'll probably be 10-20x smaller than what you'd pull from Turf selectively.

[2015-02-24 16:54] andrewsunglaekim opened #1028 "multiple markers on Rails platform"
I'm trying to incorporate markers on a map using Mapbox GL on my rails app.

In my controller file i have:
[code]
for my ajax call I have
[code]
When I have 5 markers the call works fine and i get the boatramp id to show.(Also having issues with the "icon image" to show) As soon as I increase the limit to 6 or more. I get an error:

Uncaught TypeError: Cannot read property 'leaf' of undefined

As

[2015-02-24 18:26] jfirebaugh commented on #1011
Yeah, this was what I was looking for initially. Currently [turf.distance](http://turfjs.org/static/docs/module-turf_distance.html) is point-to-point only, and it's not clear whether it would be desirable to generalize it to point-to-closest-point-on-feature.

[2015-02-24 19:27] jfirebaugh commented on #1028
Can you provide a link to live code that demonstrates the issue?

[2015-02-24 19:33] andrewsunglaekim commented on #1028
yeah, i’ll try and get a code pen on it, the problem is I’m going to have to hard code the ajax call, but i’ll try and get something to link to

[2015-02-24 19:44] andrewsunglaekim commented on #1028
This is the codepen i used to emulate it

http://codepen.io/andrewsunglaekim/pen/bNMxOV

Unfortunately, the codepen runs fine. The Ajax call i'm using formats the response object into the FeaturesCollection and runs fine for 5 markers. As soon as I get past 5 it busts.

[2015-02-24 19:47] andrewsunglaekim commented on #1028
additionally, the markers don't show up, the title does, but not the marker

[2015-02-24 19:48] jfirebaugh commented on #1028
So this might be an issue in the ajax code rather than mapbox-gl-js? Or can you rule that out?

[2015-02-24 19:50] andrewsunglaekim commented on #1028
The Ajax code works fine with 5 objects in the features array. As soon as I make it 6 the ajax call still works, I get the objects, but then i get the error

`Uncaught TypeError: Cannot read property 'leaf' of undefined`

And when i zoom in and out it calls the same error multiple times

[2015-02-24 20:49] andrewsunglaekim commented on #933
@kristfal where did you change the sheet pixel size?

[2015-02-24 21:36] andrewsunglaekim commented on #1028
@jfirebaugh I'm getting the object markers on the map, but they only render at certain zoom levels, is there a way to pass in a parameter to specify the min/max zoom levels for each point?

[2015-02-24 21:43] drewvosburg opened #1029 "Sprites on 1.5x"
I have two custom sprite sheets, on for @1x and one for @2x, but my icons get cut off on displays with a pixel density of 1.5.

I tried making sprites@1.5x.json, but it didn't do anything different.

I did notice that some of the default Mapbox sprite sheets don't have this problem.  What am I doing wrong?

![capture](https://cloud.githubusercontent.com/assets/313949/6359922/ea9e66fa-bc3b-11e4-97c

[2015-02-24 22:25] jfirebaugh commented on #1028
Not on a point-by-point basis, only for the layer as a whole: `minzoom` and `maxzoom`.

"Cannot read property 'leaf' of undefined" sounds like #933, but I think sprite atlas overflow is unlikely to be the cause given that you're using a default style and sprites. Ultimately we're going to need a link to live code that demonstrates the issue to be able to debug this.

[2015-02-24 22:40] mourner commented on #1028
@jfirebaugh generally it looks like `rbush` is giving this error when you insert invalid bboxes into the tree (e.g. with `NaN` coords).

[2015-02-24 23:13] peterqliu opened #1030 "Raster tile loading thresholds"
Q: at what thresholds are raster tiles loaded and replaced? Would I see `z4` tiles from `z3.5` - `z4.5`, or `z4`-`z5`, or some other scheme?

Ideally, I'd prefer never to see a raster tile stretched beyond what it was meant for-- they get awfully pixellated right before hitting that handoff point. Can we keep the tile level 1 z ahead of the map's current zoom level (show `z4` tiles from `z3` - `z4

[2015-02-24 23:28] jfirebaugh commented on #1030
Currently gl-js uses [`Math.floor`](https://github.com/mapbox/mapbox-gl-js/blob/a58c246f3f5b86473798e10a16fd3eecb5ee72c9/js/source/tile_pyramid.js#L130-130), i.e. z4 tiles from `z4` - `z5`.

Leaflet master uses [`Math.round(zoom)`](https://github.com/Leaflet/Leaflet/blob/4101f017784f3c40ba744b4fd33bdc0401522983/src/layer/tile/GridLayer.js#L387) -- i.e. `z4` tiles from `z3.5` - `z4.5`.

gl-js shoul

[2015-02-24 23:29] jfirebaugh commented on #839
⇢ #1030

[2015-02-24 23:29] #839 closed

[2015-02-24 23:29] jfirebaugh commented on #960
⇢ #1030

[2015-02-24 23:29] #960 closed

[2015-02-25 00:00] kapadia opened #1031 "Some label boxes don't coincide with the label"
![f](https://cloud.githubusercontent.com/assets/581337/6362096/1731de52-bc3e-11e4-9232-68797f6c29e8.jpg)

http://localhost:3000/debug/#19.02/38.89709/-76.99711

[2015-02-25 01:12] andrewsunglaekim commented on #1028
i'm writing this app for a final project, when i take it to "production" ill post a link here ~thursday

[2015-02-25 01:23] kapadia commented on #1031
Fixed in bboxify-labels. Horizontal labels were being handled incorrectly because `0` wasn't a valid step distance e.g. `var dy = 0 || someVal` yields `someVal`.

[2015-02-25 01:23] #1031 closed

[2015-02-25 01:38] kapadia opened #1032 "Missing vertical labels"
Sometimes vertical labels are missing. A little nudge in rotation brings some of these labels back, but not always. Here's an example where a few tenths of a degree brings the label back.

![missing](https://cloud.githubusercontent.com/assets/581337/6363288/d2012e06-bc4b-11e4-85ee-d47fd1ee85de.jpg)

/cc @ansis

[2015-02-25 07:40] kristfal commented on #933
@andrewsunglaekim you'll have to reduce the size of the .pngs that you use to generate the sprite sheet. Remove any padding (or in worst case resuce icon size, and overscale them in you style).

[2015-02-25 16:42] andrewsunglaekim commented on #1028
@jfirebaugh & @mourner heres a link to the live deployed example @[https://stark-mesa-9660.herokuapp.com/virginia](https://stark-mesa-9660.herokuapp.com/virginia)

the main part of the code can be found [here](https://github.com/andrewsunglaekim/paddler_plan/blob/master/app/assets/javascripts/backbone/views/boatramps.js)

i put it together kind of quick to try and get some info to you guys, so bea

[2015-02-25 16:46] andrewsunglaekim commented on #1028
if you zoom in on that link, you can start to see the markers in virginia

[2015-02-25 17:25] mourner commented on #1028
@andreasviglakis is there any way you could reduce the test case to the absolute minimum, without any ajax calls etc., and put it on JSFiddle?

[2015-02-25 17:31] andrewsunglaekim commented on #1028
heres the thing, on code pen when I try to emulate w/o ajax call its puts 6 markers on fine. The crazy thing is that the code works fine for 5 instances or less, but then runs into zooming issues with more than 6

[2015-02-25 17:34] andrewsunglaekim commented on #1028
actually the codepen stops working too.. it just takes more instances. So if you look at this one [here](http://codepen.io/andrewsunglaekim/pen/bNMxOV) you can't see the markers near dc until zooming in. This is basically the same issue I'm having. And if you open up the console you can see the 'leaf' error. You can also see that the number of error goes up as you zoom in and out.

[2015-02-25 18:16] ansis opened #1033 "clip lines before making line labels"
Areas near tile edges have low line label density.

The vector tiles are padded with data for areas outside tile boundaries, so many line labels geometries start outside the tile boundaries. Our label interpolation tries to place the first label as close to the beginning of the line as it can. This first label often is partially outside the tile boundaries, and gets dropped later.

We should clip

[2015-02-25 18:20] ansis commented on #1030
Should we also switch how fill and line patterns are scaled?

[2015-02-25 18:23] ansis commented on #1030
Should we also switch vector tiles?

[2015-02-25 18:56] jfirebaugh commented on #1030
@ansis You are the best person to answer those q's. :)

[2015-02-25 19:03] ljbade commented on #1029
I think we only support @1x and @2x, but gl-js should select the correct size for the current pixel density. Are you using Android?

/cc @ansis

[2015-02-25 20:01] peterqliu commented on #1030
It's certainly better than what we have now, but `Math.round` still yields blurriness half the time (instead of all the time). Is `Math.ceil` too many tiles to load? It would guarantee at *least* the expected sharpness, at all zooms:

![screen shot 2015-02-25 at 11 59 14 am](https://cloud.githubusercontent.com/assets/4551508/6379304/0c880f14-bce6-11e4-9f64-04ad0ab5b54f.png)

[2015-02-25 20:07] jfirebaugh commented on #1028
I should have remembered: #987. This was fixed in a33d27ec47acbcb62bd35db82f83b49d399f22c7 and will be in the next release.

[2015-02-25 20:07] #1028 closed

[2015-02-25 20:22] andrewsunglaekim commented on #1028
is there any way I can modify my code in the application to change the tileSize locally? Because I link to the mapbox gl in my html.

[2015-02-25 21:35] drewvosburg commented on #1029
No, the issue is occurring on a Microsoft Surface in IE.  It's replicable in Chrome on a Mac through dev tools by setting the pixel density to 1.5

[2015-02-25 21:55] ansis commented on #1030
This is a tradeoff between sharpness and download size. The bigger the image size, the more you have to download.

`round` leads to **2x** more pixels than `floor`
`ceil` leads to **4x** more pixels than `floor`

This means 2x-4x more data and slower tile load times. We need to find the right tradeoff.

Our raster layers are also blurrier because we can't pixel align the images. We can't pixel ali

[2015-02-25 23:10] #1018 closed

[2015-02-25 23:30] #1021 closed

[2015-02-25 23:31] jfirebaugh commented on #1011
Closing; not feasibly currently.

[2015-02-25 23:31] #1011 closed

[2015-02-26 02:09] kapadia commented on #1032
Two things were going on here:

1. All symbols have two buffers associated with them: i) for upright text, ii) for upside down text. The map and label rotations determine which symbol is uploaded to the buffer. The statement which checks the angle had strict inequalities on both bounds, leaving cases where no symbol was uploaded to the GPU. https://github.com/mapbox/mapbox-gl-js/commit/76ecda06f94

[2015-02-26 02:12] kapadia commented on #1032
Some vert labels are still missing. e.g.:

![16](https://cloud.githubusercontent.com/assets/581337/6385055/cc7ee030-bd19-11e4-8cf2-1fa056a24201.jpg)

[2015-02-26 18:39] jfirebaugh commented on #985
Performance should be pretty good after fe10ad4dd6ff31f50a393ef35d709b1433e2811f.

[2015-02-26 18:39] #985 closed

[2015-02-26 19:07] jfirebaugh commented on #723
Fixed with #1010.

[2015-02-26 19:07] #723 closed

[2015-02-26 19:10] jfirebaugh commented on #572
We need the geometry for featuresAt.

[2015-02-26 19:10] #572 closed

[2015-02-26 19:18] #1013 closed

[2015-02-26 19:18] #1022 closed

[2015-02-26 21:44] jfirebaugh commented on #1006
Fixed.

[2015-02-26 21:44] #1006 closed

[2015-02-26 22:40] mourner commented on #1022
How do you control the z order of the layer added?

[2015-02-26 22:43] mourner commented on #1013
This may make it a bit more difficult to add rendering features or bugfixes because they always require fiddling with the style.

[2015-02-26 23:16] edenh opened #1035 "text-font and icon-image do not get updated across all zoom levels"
There is some form of caching happening for symbol fonts and images. This shows a literal `icon-image` value that retains the previously set image on some zoom levels.

![symbols](https://cloud.githubusercontent.com/assets/1577766/6404167/e5e7a3e4-bdc9-11e4-8035-6b38dfeab99e.gif)

[2015-02-26 23:16] kapadia commented on #1033
@ansis can you point me to the part of the code where clipping should happen.

[2015-02-26 23:27] jfirebaugh commented on #1035
@edenh Got live code somewhere?

[2015-02-26 23:54] kapadia opened #1036 "Label around a sharp corner"
Independence Ave is taking a sharp turn. These scenarios should be caught at:

https://github.com/mapbox/mapbox-gl-js/blob/8ee8e879d6863821278dbdd99ab427458b0f04ee/js/symbol/placement.js#L240-L245

![craycray](https://cloud.githubusercontent.com/assets/581337/6404659/282e1878-bdcf-11e4-8f92-e335d1323494.jpg)

/cc @ansis

[2015-02-26 23:58] mourner commented on #1033
@kapadia somewhere here https://github.com/mapbox/mapbox-gl-js/blob/master/js/data/symbol_bucket.js#L157.

I could do this relatively quickly since I have clipping code in Leaflet.

[2015-02-27 00:00] mourner commented on #1036
Yeah, this will require some kind of lookahead to measure quick angle changes through several points.

[2015-02-27 00:23] edenh commented on #1035
http://jsfiddle.net/jkLcnh3o/2/ Zoom in past z10 and go back and forth around 10 to see the bug.

[2015-02-27 00:35] ansis opened #1037 "filter out labels failing text-max-angle earlier"
We used to figure out at what scale the label would fit without reaching the angle, and then show the label starting there. But since we're redoing placement at every zoom level this doesn't matter. We can just skip that label completely if it goes around a sharp corner.

The check and skip should happen sometime around here https://github.com/mapbox/mapbox-gl-js/blob/4e2c209dbb91a4688445845a159c2

[2015-02-27 06:29] StevenLooman commented on #1006
Thank you!

[2015-02-27 16:30] mourner commented on #1037
Are there many labels like this compared to the total number? The win might be negligible compared to the amount of added code.

[2015-02-27 19:07] samanpwbb opened #1038 "by default, shift + drag -> zoom to bounding box"
This should be a default interaction in GL:

![2015-02-27 14_07_24](https://cloud.githubusercontent.com/assets/108094/6419290/ebf30c68-be89-11e4-9554-ac38022f4e11.gif)

[2015-02-27 19:25] jfirebaugh commented on #1038
:+1:

Leaflet implementation: https://github.com/Leaflet/Leaflet/blob/master/src/map/handler/Map.BoxZoom.js

[2015-02-27 19:30] tristen commented on #1038
:+1: might pick this one up here.

[2015-02-27 19:59] tristen commented on #713
Also [`down`](https://github.com/mapbox/mapbox-gl-js/blob/master/js/ui/interaction.js#L102) should change to `mousedown`.

[2015-02-27 20:07] mourner commented on #713
See https://github.com/mapbox/mapbox-gl-js/pull/949 — `down` shouldn't be renamed because it's an internal event for normalizing interactions.

[2015-02-27 22:53] #725 closed

[2015-02-27 23:56] jfirebaugh commented on #1035
This is a symptom of #994, and was fixed.

[2015-02-27 23:56] #1035 closed

[2015-02-28 01:06] jfirebaugh commented on #1019
The second feature in the "water" layer of this tile has a geometry that begins with a "closePolygon" command. vector-tile-js assumes that can't happen.

/cc @springmeyer

[2015-02-28 01:08] jfirebaugh commented on #1019
Pushed a failing test-case to vtjs: https://github.com/mapbox/vector-tile-js/compare/mapbox-gl-js-1019

[2015-02-28 01:20] jfirebaugh commented on #327
I'm pretty happy with the current gl-js API: https://github.com/mapbox/mapbox-gl-js/blob/00d12c53d2aee008ff4362f515279665e211cb3b/debug/site.js#L15-L28.

The last thing I think we should do here is add a placeholder layer with id `labels` to all the example styles that doesn't render anything but can be used to do `map.addLayer({...}, "labels")`.

[2015-02-28 23:46] chrismcnally opened #1039 "Strange error when my geoJSON is too large"
I'm new to Mapbox and trying to learn Mapbox-gl-js and testing it with a set of 330+ points using your sample html example is failing. I can only get it to work if I use < 10, or even < 7 markers.

https://gist.github.com/chrismcnally/111223a20136431a286f

I've tested my largest geoJSON in geojson.io and it works fine. But when I use it with Mapbox gl I get the error

Chrome:
api.tiles.mapbox.com/

[2015-03-01 01:36] jfirebaugh commented on #1039
Yes, this is a known issue: #987. It will be fixed in the next release (early this coming week).

[2015-03-01 01:36] #1039 closed

[2015-03-01 10:55] mourner commented on #327
Yeah, looks pretty good now.

[2015-03-01 11:25] #327 closed

[2015-03-02 19:35] #1038 closed

[2015-03-02 20:29] #982 closed

[2015-03-02 20:39] ansis opened #1042 "Fix label collisions across sources by combining tiles from different sources"
We don't avoid collisions of labels from different sources. Labels from geojson overlap with labels from vector tiles. We should fix this.

I think we need to combine tiles from different sources. It would wait until both the geojson and vectortile tiles are loaded and do placement on them together. Nothing from the geojson tile would be rendered until the vector tile has loaded. From the renderin

[2015-03-02 20:58] jfirebaugh commented on #1042
:+1: -- I'm on board with this approach, which I've been calling "client-side compositing".

I think eventually we will need to support multiple vector tile sources. The easiest way for someone to throw together a basemap + tiled overlay will be to use one of our default styles and then add their own VT data layer on the fly.

[2015-03-02 20:58] ansis commented on #934
Last week I was working on fading labels across multiple tiles (when a new tile loads), and on rotation.

https://github.com/mapbox/mapbox-gl-js/tree/placement-fading

I'm putting it on hold for now because:
- it's blocked by having layer-by-layer rendering
- it's a big chunk of code that is mostly separate from actual label placement, so I should wrap that up first

How this currently works:
When

[2015-03-02 21:01] springmeyer commented on #1019
@jfirebaugh - will need to try to reduce a testcase by recreating tiles from water - tracking at https://github.com/mapbox/mapnik-vector-tile/issues/90

[2015-03-02 21:06] mourner commented on #745
Closing in favor of #1042

[2015-03-02 21:06] #745 closed

[2015-03-02 21:06] mourner commented on #1042
I was thinking of doing the same thing, so :+1:.

[2015-03-02 21:39] tristen opened #1044 "Document + examples for style methods"
These [class](https://github.com/mapbox/mapbox-gl-js/blob/b092c79e09d67972334cb53627d5bbb63ed65215/js/ui/map.js#L127-L153) + other [style methods](https://github.com/mapbox/mapbox-gl-js/blob/b092c79e09d67972334cb53627d5bbb63ed65215/js/ui/map.js#L245-L311) are missing documentation + examples on use.

[2015-03-02 21:40] tristen commented on #921
Talked to @lbud about this. Closing in favor of https://github.com/mapbox/mapbox-gl-js/issues/1044

[2015-03-02 21:40] #921 closed

[2015-03-02 22:24] #713 closed

[2015-03-03 00:03] jfirebaugh commented on #796
We should do this, but use a version of the linter without the custom JSON parser. This will require some work on mapbox-gl-style-lint -- will ticket separately.

[2015-03-03 09:24] kkaefer commented on #1042
This sounds like a reasonable approach.

[2015-03-03 20:10] misterfresh opened #1045 "mapbox.LatLng undefined is not a function"
Hi and thanks for the great app.

I have an annoying error in chrome console, saying mapbox.LatLng is undefined, but still it seems to work. Maybe a browserify issue? I attach some pictures:

![undef](https://cloud.githubusercontent.com/assets/2299642/6471191/5ad866c0-c1e9-11e4-91b4-2d2cec22a0e0.gif)
![latlng](https://cloud.githubusercontent.com/assets/2299642/6471196/604ca9a4-c1e9-11e4-89bb-11ecc

[2015-03-03 20:24] jfirebaugh commented on #1045
Can you provide a link to a live example please?

[2015-03-03 20:32] misterfresh commented on #1045
Link to live example : http://france2100.com/

[2015-03-03 20:57] jfirebaugh commented on #1045
Thanks, that helps. You are running into #787 -- currently mapbox-gl-js cannot be included in a browserify bundle. You should require it as a standalone script.

[2015-03-03 20:57] #1045 closed

[2015-03-03 23:12] ansis opened #1047 "Fill antialiasing breaks for long lines in perspective view"
In perspective view, antialiasing breaks for long vertical edges. It doesn't interpolate v_pos linearly relative to screen space. Maybe interpolation happens before dividing by the `.w` component? Or maybe something else entirely?

![screen shot 2015-03-03 at 3 09 40 pm](https://cloud.githubusercontent.com/assets/1421652/6474648/73e56442-c1b7-11e4-877e-f0f9789086a0.png)

the difference between the

[2015-03-04 01:12] #866 closed

[2015-03-04 03:31] ansis opened #1048 "labels in perspective view"
In the current perspective implementation labels closer to the bottom are bigger and further back labels are smaller. Line labels are rendered skewed.

Why? because it was easier to implement it this way.

It's sort of cool that closer stuff is bigger, bit it also can make labels harder to read. Far labels can be tiny and close ones are giant. The skewness makes reading line labels even harder. Th

[2015-03-04 04:25] peterqliu commented on #1048
I think tilt mode is used to emphasize the on-the-ground perspective, and inherently favors nearby things over faraway things. Toward this end, I think the skew is actually **good** because it affects nearby objects the least, thereby establishing this hierarchy of readability from `near > far`.

[2015-03-04 09:25] mourner commented on #1048
I also think the way it works in the current `perspective` branch is perfectly fine for now. Lets not worry about skewed labels readability until we solve higher priority issues.

No, it would be worse in my opinion.

[2015-03-04 14:27] tristen opened #1050 "Popup off-canvas puts map container into scrolled overflow."
![overflow](https://cloud.githubusercontent.com/assets/61150/6485271/874477c8-c250-11e4-9541-26474a2c947a.gif)

Should be a simple CSS fix.

[2015-03-04 18:03] ansis opened #1051 "setView should use current zoom, bearing, pitch if undefined"
From https://github.com/mapbox/mapbox-gl-js/pull/1049#discussion_r25761481

[2015-03-04 18:34] jfirebaugh opened #1052 "viewport-relative popup arrows"
http://erictheise.github.io/rrose/ is a good idea. Let's make that behavior the default for mapbox-gl-js popups.

![image](https://cloud.githubusercontent.com/assets/98601/6490237/b0a80a0e-c259-11e4-8bf4-a23d2ba6668c.png)

Some chat conversation about implementation details:

![image](https://cloud.githubusercontent.com/assets/98601/6490280/fea69e3c-c259-11e4-9fd3-8be12824aa3b.png)

[2015-03-04 18:35] jfirebaugh commented on #1050
Yeah, we should do both this and #1052.

[2015-03-04 18:39] ansis opened #1053 "fix pointLocation and locationPoint for perspective view"
`pointLocation` should probably use `pointCoordinate` and then convert the coordinate to a location. We should add a `coordinatePoint` and use that in `locationPoint`.

[2015-03-04 23:58] ansis commented on #1020
done in #1026

[2015-03-04 23:58] #1020 closed

[2015-03-05 00:34] fnicollet commented on #1038
Hello,

Is there a way to disable this default behaviour?

Thanks,

[2015-03-05 00:36] jfirebaugh commented on #1038
@fnicollet: https://www.mapbox.com/mapbox-gl-js/example/interactive-false/

[2015-03-05 00:40] fnicollet commented on #1038
What about being able to zoom in/out but not box-zoom as it interferes with existing behaviour? In leaflet, when settings the map's "boxzoom" option to false, it disables the handler automatically. It would be nice to be able to pick (boxzoom, rotation, tilt, etc.) when building the map

[2015-03-05 01:57] jfirebaugh commented on #146
⇢ https://github.com/mapbox/mapbox-gl-style-spec/issues/249

[2015-03-05 01:57] #146 closed

[2015-03-05 02:13] jfirebaugh commented on #1038
If I understand it correctly, what you're requesting can be characterized as "granular interactivity configuration". Can you open a separate ticket for that?

[2015-03-05 02:30] ansis commented on #1016
fixed in e07c041

[2015-03-05 02:30] #1016 closed

[2015-03-05 02:41] friedbunny opened #1055 "_normalizeBearing kills rotations <4.5º and resets to north"
When dragging the compass navigation control to rotate the map, rotations less than 4.5º are normalized to 0.

The relevant code in [js/ui/easings.js](https://github.com/mapbox/mapbox-gl-js/blob/241a07d0607447cbc393f2ccfab3f03e765ced13/js/ui/easings.js#L341-L348) (L341-L348):

[code]

Also see @mourner's original commit f5c640ab8f7e6fc1548735c091c36c5b4d04d1ec.

Personally, I view ignoring bearing

[2015-03-05 03:24] ansis commented on #1017
done in fac0152

[2015-03-05 03:24] #1017 closed

[2015-03-05 08:55] mourner commented on #1038
Yeah, that was on my TODO for a while — I want to refactor interaction code to be able to turn on/off individual features.

[2015-03-05 08:56] mourner commented on #1038
At least at the moment, we can quickly add a `boxZoom` option to `Map` that when set to `false` would disable `boxZoom`.

[2015-03-05 08:56] fnicollet commented on #1038
@mourner did you open an issue already or should I start one?

[2015-03-05 11:32] fnicollet opened #1056 "Granular interactivity configuration"
At the moment, there is only one option that can be passed to the map: interactive (true/false), which disable every interaction. It would be good to have different options:
 - rotation
 - draggable
 - boxzoom
 - tilt
 - ... other future options

It would be better to have something similar to leaflet "handlers":
 - Being able to pass options to the map corresponding to each interactivity so that

[2015-03-05 11:43] mourner commented on #1038
Don't remember, probably didn't open yet.

[2015-03-05 11:47] kkaefer commented on #1017
To confirm, this is only in the placement branch, and used to be there before, right?

[2015-03-05 11:47] mourner commented on #1019
Upstream.

[2015-03-05 11:47] #1019 closed

[2015-03-05 11:58] fnicollet commented on #1038
No problem, opened it as #1056

[2015-03-05 13:25] misterfresh opened #1057 "Only partial rendering on older hardware?"
https://www.mapbox.com/mapbox-gl-js/examples/ "A simple map" displays fine on my home computer, latest core i7. At work on an old Core 2 Duo I see this :

![mapbox_issue](https://cloud.githubusercontent.com/assets/2299642/6505535/82e5a4f6-c343-11e4-96b6-aa5b5c150cf5.jpg)

[2015-03-05 16:47] ansis commented on #1017
@kkaefer yes

[2015-03-05 18:55] ansis commented on #1057
hmm, could you paste all the information from https://www.browserleaks.com/webgl on your older machine?

[2015-03-05 18:56] tristen opened #1058 "Trackpad behaves differently than mouse wheel"
### Trackpad

![trackpad](https://cloud.githubusercontent.com/assets/61150/6512100/5f08b70c-c33f-11e4-87c5-3b7d9341824f.gif)

Nice and smooth. No lag.

### Mousewheel

![mouse-wheel](https://cloud.githubusercontent.com/assets/61150/6512105/6320e1fc-c33f-11e4-8a43-80b2dfa5514c.gif)

It looks like events are firing prematurely as the hash corrdinates change before mouse wheel zoom is complete.

[2015-03-05 19:21] #796 closed

[2015-03-05 19:47] tristen commented on #828
@pnorman is still an issue? `npm install` should cover all deps from the looks of it.

[2015-03-05 19:52] jfirebaugh commented on #828
There are no additional dependencies for production use. However, to run the headless rendering tests, libglew-dev and imagemagick are required.

[2015-03-05 20:07] jfirebaugh commented on #1055
Hmm, this is not from `_normalizeBearing` but from a click event getting triggered on the button at the end of the gesture and thus resetting to north. Will fix.

[2015-03-05 20:18] friedbunny commented on #1055
That does make more sense, I figured I just wasn't seeing the problem with the math. Thanks @jfirebaugh, and sorry to impugn your arithmetic, @mourner. :wink:

As an aside, is there enough interest in non-bug-induced compass snapping that I should spin that off into its own discussion?

[2015-03-05 21:32] #1055 closed

[2015-03-05 21:32] jfirebaugh commented on #1055
@friedbunny Yes, please open an issue.

[2015-03-05 21:38] ansis commented on #551
implemented in 8f06055

[2015-03-05 21:38] #551 closed

[2015-03-05 21:39] ansis commented on #1036
implemented in 8f06055

[2015-03-05 21:39] #1036 closed

[2015-03-05 21:42] ansis commented on #1037
While it helps with density a tiny bit, the main reason to do this is to not have something affecting visibility in the code responsible for generating glyphs. Doing it before the collision tests also makes debugging collisions easier because you don't have collision boxes drawn for labels that aren't visible.

Implemented in 8f06055

[2015-03-05 21:42] #1037 closed

[2015-03-05 21:43] ansis commented on #1032
fixed in  0d2b4ea

[2015-03-05 21:43] #1032 closed

[2015-03-05 21:46] friedbunny opened #1059 "Feature: Snap compass/bearing to north"
When rotating the map, it would be friendly to snap to north if bearing ends within some tolerance of 0º.

I proposed the same enhancement for native at mapbox/mapbox-gl-native/pull/938. Something around ±7º (or slightly smaller) felt right to me in tests there. [Here's a video of what this looks like on native/iOS.](https://www.dropbox.com/s/whvr60fqgm7jycf/snapCompassIfNeeded.mp4?dl=0)

Previous

[2015-03-05 21:48] pnorman commented on #828
I tested and `npm install && npm start` now works on Ubuntu 14.04 with only git, npm and nodejs-legacy installed.

On the same VM I tried `npm test` with git, npm, nodejs-legacy, libglew-dev, imagemagick, and pastebinit (to get the text out of the vm) installed.

I got the error
[code]

[2015-03-05 23:38] jfirebaugh commented on #828
@pnorman You'll need to rerun `npm install` after installing libglew-dev.

[2015-03-06 01:07] #1050 closed

[2015-03-06 02:13] pnorman commented on #828
Still failing.

Full script, starting from a clone of the clean 14.04 virtualbox VM I keep

[code]

This produces the error above.

[2015-03-06 02:15] jfirebaugh commented on #828
@pnorman Can you gist the output?

[2015-03-06 02:17] pnorman commented on #828
Which output? The output of `npm test` is [above](https://github.com/mapbox/mapbox-gl-js/issues/828#issuecomment-77459404)

[2015-03-06 02:36] jfirebaugh commented on #828
Of the entire sequence of commands.

[2015-03-06 02:59] pnorman commented on #828
https://gist.github.com/pnorman/debf8327f8e753f916de has logs, except for the initial update and upgrade

[2015-03-06 04:39] jfirebaugh commented on #828
From `npm_install.log`:

[code]

Is `make` really not installed?

[2015-03-06 04:46] pnorman commented on #828
`make` is not a dependency of libglew-dev, imagemagick, or npm - nor is it part of a stock Ubuntu install.

There's a few other optional dependencies which have failed too.

[2015-03-06 09:28] haoziluo opened #1061 "npm install error"
[code]

my os is ubuntu 14.04 64bits, node version is 0.10.36

[2015-03-06 09:37] misterfresh commented on #1057
browserleaks info :
![webgl1](https://cloud.githubusercontent.com/assets/2299642/6523091/b2eadc94-c3ec-11e4-8808-3dbf47293bb2.gif)
![webgl2](https://cloud.githubusercontent.com/assets/2299642/6523101/c50e147c-c3ec-11e4-9599-d194e4266176.gif)

[2015-03-06 17:15] mourner commented on #805
Now tiles are overscaled with placement recalculated on each zoom, so this should be fixed.

[2015-03-06 17:15] #805 closed

[2015-03-06 17:15] mourner commented on #507
Is this still reproducible?

[2015-03-06 17:18] mourner commented on #736
Any updates now?

[2015-03-06 17:29] ansis commented on #507
I haven't seen this since then and the fonstacks listed here are dead. A lot has changed since then, so I'll assume this was fixed. @nickidlugash if you see this again, reopen.

[2015-03-06 17:29] #507 closed

[2015-03-06 18:15] tristen opened #1062 "Example using perspective"
When https://github.com/mapbox/mapbox-gl-js/pull/1049 is merged.

[2015-03-06 18:35] ansis commented on #1051
It might make sense to change both `setView` and `easeTo` to a single options argument to avoid having to remember to argument order and write lots of undefined.

Or maybe keeping view separate from transition options is good:` easeTo(view, options)`

[2015-03-06 18:40] jfirebaugh commented on #1051
[code]

y/n?

[2015-03-06 18:41] ansis opened #1063 "ui for changing pitch"
How can a user change the pitch of a map? A button? or mouse action?

[2015-03-06 18:46] tmcw commented on #1063
One vote for a button, at least at first, for normal pitch and some nice 45° or something.

[2015-03-06 18:50] ansis commented on #1051
What would the argument types look like on -native?

[2015-03-06 18:54] peterqliu commented on #1063
My first instinct is `shift + left click drag` to tilt up and down, and a button to restore to a full 90 degrees.

How would we handle touchscreens?

[2015-03-06 18:58] ansis commented on #292
merged in https://github.com/mapbox/mapbox-gl-js/pull/1049
For remaining problems or wishes, open more specific issues

[2015-03-06 18:58] #292 closed

[2015-03-06 18:59] jfirebaugh commented on #1061
This looks like a permissions error. Can you try to sort that out?

[2015-03-06 19:19] ansis opened #1064 "Use anisotropic filtering for raster tiles in perspective view"
We should use the `EXT_texture_filter_anisotropic` extension if it is available. Anisotropic filtering will make [textures clearer when viewed at an angle](http://media.tojicode.com/webgl-samples/anisotropy.html). The filtering level used should depend on the current pitch.

[2015-03-06 19:21] jfirebaugh commented on #1062
:+1: Let's do a route fly-along for this.

[2015-03-06 21:23] #1052 closed

[2015-03-06 22:52] fnicollet opened #1066 "Greater label density in 0.7 makes some more important labels disappear"
Hello,

Just updated to 0.7 and the result is very different. Here is a screenshot of version 0.5.2:
![image](https://cloud.githubusercontent.com/assets/1240481/6537905/aba01818-c45b-11e4-8127-bc90c1bd7577.png)

And a screenshot of the same zoom level in version 0.7.0 (from the CDN)
![image](https://cloud.githubusercontent.com/assets/1240481/6537914/b92ca316-c45b-11e4-8e25-b2b67f3de5b6.png)

There

[2015-03-06 22:55] fnicollet commented on #962
Version 0.7 brings better results but some highway labels are offset by a pixel which creates a line:
![image](https://cloud.githubusercontent.com/assets/1240481/6537951/2ca25a34-c45c-11e4-98fc-38e98c59c88d.png)

I'll open another issue for this.

[2015-03-06 22:58] fnicollet opened #1067 "Tiny rendering artefact when rendering highway shields"
Hi, just updated to 0.7 and noticed that highway shields seem to have some kind of padding, which cut them by 1 px at the top and show a line at the bottom:
![image](https://cloud.githubusercontent.com/assets/1240481/6537987/850afa82-c45c-11e4-91ed-b8967da23b70.png)
or
![image](https://cloud.githubusercontent.com/assets/1240481/6537996/9c393034-c45c-11e4-9027-d28c171053f1.png)

Reproduced with:
ht

[2015-03-07 11:07] haoziluo commented on #1061
but I use "sudo"....

[2015-03-09 16:34] #716 closed

[2015-03-09 19:05] ansis opened #1069 "fix pattern fading"
It looks like fading for patterns and dashes is broken in master.

[2015-03-09 19:45] lbud commented on #358
bump :) this could be helpful from an API/editor perspective as well. What do you guys think?

[2015-03-09 21:55] ansis commented on #1033
done in d384378

[2015-03-09 21:55] #1033 closed

[2015-03-09 21:56] ansis commented on #1033
@mourner I only read "I could do this relatively quickly since I have clipping code in Leaflet." just now. If your Leaflet clipping code is nicer or faster, we can switch to that.

[2015-03-10 02:05] mourner commented on #1033
@ansis looks pretty fast and also simple enough — lets leave it like this for now.

[2015-03-10 03:00] #1069 closed

[2015-03-10 13:35] misterfresh opened #1071 "How to add (and then fire) a custom event on mapboxgl.Map ?"
There are already some events defined such as 'render', 'load', 'move'.

Can you give me an example of how I can add a custom event to the Map object and then fire it?

Thanks

[2015-03-10 16:46] tristen commented on #1071
@misterfresh You can register an event handler with `on` and then `fire` it when you want the function to be called. i.e.

[code]

[2015-03-10 17:18] tristen commented on #952
I started working on this in a [`jsdoc`](https://github.com/mapbox/mapbox-gl-js/tree/jsdoc) branch and would love a review. Some immediate open questions:

- For option params that accept an object of specific keys, I'm documenting it like this:

[code]

- For parameters with default options I'm adding it like this https://github.com/mapbox/mapbox-gl-js/commit/2809fa6cbe0cc7c3b290fd69f366349c88fd4

[2015-03-10 17:54] jfirebaugh commented on #952
:+1: I had not seen that syntax before, but it is documented as the jsdoc way.

:+1:

`@extends` (aka `@augments`)

"This marks an object as being a function, even though it may not appear to be one to the parser." I.e. this tag is mainly a workaround for poor tooling or sketchy code. We'll have to see where we end up with for tooling, but ideally this isn't necessary.

You can if you want, but we

[2015-03-10 18:20] #1071 closed

[2015-03-11 01:09] ansis opened #1072 "re-add text-avoid-edges and icon-avoid-edges"
Re-add support for `text-avoid-edges` and `icon-avoid-edges`.

We currently don't check if if a symbol's box crosses tile boundaries. We should.

[2015-03-11 10:20] kristfal commented on #1066
Following up on this, not sure if related. I'm seeing some issues "symbol-placement": "line" at the moment which were not present before #989 was accepted.

Symbol line placement overlap is wonky. See attached screenshot. The line label has no allow-overlap, is listed at the very end of the stylesheet, yet still overlap all other labels. The overlapped labels may have "symbol-placement": "line" or

[2015-03-11 18:13] tristen opened #1074 "Rendering issues in Chrome + FF on PC"
Version `40.0.2214.115 m`of Chrome and `35.0.1` on Firefox

To the left, a square only renders labels. If I pan to the left the square renders all the details and the next square towards to the left loses everything but its labels.

![mapboxgl-chrome](https://cloud.githubusercontent.com/assets/61150/6603427/763a2bc8-c7f8-11e4-80a4-ffaf13a74ff7.png)

There also appears to be a pinkish hue when pann

[2015-03-11 18:14] tristen opened #1075 "No labels in IE11"
Labels appear to be completely missing in IE

![mapboxgl-ie11](https://cloud.githubusercontent.com/assets/61150/6603489/e21cbee6-c7f8-11e4-8733-9516417e30b4.png)

cc @ansis

[2015-03-11 18:27] tristen opened #1076 "Shield backgrounds in Firefox PC"
version `35.0.1`

![mapboxgl-ff](https://cloud.githubusercontent.com/assets/61150/6603798/b097d1c4-c7fa-11e4-8fbc-d988b65a732b.png)

cc @ansis

[2015-03-11 18:29] #1058 closed

[2015-03-11 20:03] misterfresh commented on #1071
Thanks, this works!

[2015-03-11 20:20] ansis commented on #1048
Nothing actionable here right now. closing

[2015-03-11 20:20] ansis commented on #964
pull request here: https://github.com/mapbox/mapbox-gl-js/pull/1079

[2015-03-11 20:20] #964 closed

[2015-03-11 20:25] ansis commented on #803
https://github.com/mapbox/mapbox-gl-test-suite/pull/18/files changes the test case
https://github.com/mapbox/mapbox-gl-js/pull/1079 changes the rendering to match the updated test case

The labels in the test case are not upright. This is intended. "text-keep-upright" should only have an effect on line labels. Do we need any spec changes to express this?

[2015-03-11 20:28] ansis commented on #869
https://github.com/mapbox/mapbox-gl-js/pull/1079 deletes this code

[2015-03-11 20:28] #869 closed

[2015-03-11 20:29] ansis commented on #233
same as https://github.com/mapbox/mapbox-gl-js/issues/768

[2015-03-11 20:29] #233 closed

[2015-03-11 20:31] ansis commented on #719
Nothing actionable here. closing

[2015-03-11 20:31] #719 closed

[2015-03-11 20:36] ansis commented on #383
we have a separate issue for the glow effect: https://github.com/mapbox/mapbox-gl-js/issues/769

[2015-03-11 20:36] #383 closed

[2015-03-11 20:38] misterfresh opened #1080 "Correct way to do animation in Mapbox GL ?"
I add following event on map :
[code]
I try to fire the refreshMarkers event 24 times per second with setInterval. The maximum is about 10 refresh per second and if I try to go higher the markers disappear.

Edit : after updating to 0.7.0 it seems the markers are not flashing anymore, instead I see a smooth transition between positions. Does this mean that marker movement animation is now built-in

[2015-03-11 20:51] misterfresh commented on #1061
on Windows if you want to "npm install mapbox-gl" you will first need to follow these instructions https://github.com/TooTallNate/node-gyp/wiki/Visual-Studio-2010-Setup

[2015-03-11 22:00] ansis commented on #998
It looks right on retina and non-retina for me. I'm guessing this was a mapbox-gl-js and style version mismatch. If you see it again, reopen

[2015-03-11 22:00] #998 closed

[2015-03-11 22:23] ansis commented on #961
@peterqliu want to implement this when you have time?

After adding it to the spec you need to use instead of `-opacity` here: https://github.com/mapbox/mapbox-gl-js/blob/c4efd8c177be3bf7156eeb88322af395d0848219/js/style/style_layer.js#L182-L185

[2015-03-11 22:31] ansis commented on #974
@fnicollet are you still seeing this with the lastest style and mapbox-gl-js?

[2015-03-12 03:24] peterqliu commented on #961
ooh i'll take a stab. added to my punchlist

[2015-03-12 08:27] peterqliu opened #1083 "Integrate sprite jsons into stylesheet"
Is there a compelling reason we keep `sprite.json` and `sprite@2x.json` as separate files from the stylesheet, rather than as JSON objects within?

It adds more (unnecessary?) moving parts, and introduces the potential for missing links

[2015-03-12 15:36] incanus commented on #1083
Broader discussion happening over in https://github.com/mapbox/mapbox-gl-style-spec/issues/220.

The reason we have sprites is similar to the web (less resources to handle) but also optimizing texture loads in GL since you can bind one image, then use the offsets to map textures.

Since we also will eventually support runtime addition and subtraction of sprites, I'd say JSON's days are numbered.

[2015-03-12 15:40] jfirebaugh commented on #1083
Yeah let's keep the discussion over on the style-spec issue.

[2015-03-12 15:40] #1083 closed

[2015-03-12 16:15] incanus commented on #1030
We should do this — it's what the mobile raster tools do as well. This is causing a problem in https://github.com/mapbox/mapbox-gl-native/issues/963 because `512px` raster tiles are showing way larger than they should be (just under twice as large at e.g. `zX.9999`).

[2015-03-12 18:09] lsimkins opened #1084 "Pass raw event object during mouse events."
There may be a deliberate reason for not doing this - but is there any chance you can pass the raw javascript event object for mouse events?

The benefit is access to extra event data (like ctrlKey, shiftKey, etc).

If there is a specific reason for not passing the event object I'll grab mouse events externally rather than using built-in mouse events.

[2015-03-12 19:39] robschley commented on #985
Thanks @jfirebaugh. I did see a bit of a performance uptick but I haven't had a chance to really dig into it.

[2015-03-12 23:20] mourner commented on #1084
That sounds useful, feel free to submit a PR! It's pretty easy to add.

[2015-03-13 01:05] lsimkins commented on #1084
Awesome to hear! You'll see one soon.

[2015-03-13 02:58] mourner opened #1085 "Put render suite results to CircleCi artifacs"
Easy to look up in artifacts tab on the build page.

[2015-03-13 03:25] tristen opened #1087 "Use an icon font for UI elements"
To replace the sprite right?

[2015-03-13 05:23] jfirebaugh commented on #1085
I tried this when I was setting it up and it took forever to copy the files (cancelled after 5 mins waiting on the artifact step).

[2015-03-13 09:51] mofoyoda opened #1088 "map.featuresAt returns an empty array"
I have a map with a vector source, that uses PBF tile service. featuresAt is called on click event like this:
[code]
But returns an empty array every time click is fired. How can I get coords and attributes of a single feature at specified coordinates? I need to highlight it on hover, recolour on click and display attributes in a div.

[2015-03-13 13:45] lsimkins commented on #1084
Closing - will submit PR for the issue.

[2015-03-13 13:45] #1084 closed

[2015-03-13 17:28] jfirebaugh commented on #1088
Does the `plots` layer have `"interactive": true` set in the style? This is currently necessary for using `featuresAt`.

[2015-03-13 19:23] mofoyoda commented on #1088
Yes it does. My style is very simple:
[code]

[2015-03-13 20:27] jfirebaugh commented on #1088
I regressed the `layer` option to `featuresAt` in the latest release. Sorry about that. Fix is above, will merge as soon as CI passes.

[2015-03-13 22:36] jfirebaugh commented on #803
So `text-keep-upright` requires `"symbol-placement": "line"`? We should add a `requires` for that to the spec.

[2015-03-14 18:02] fnicollet commented on #974
Hello @ansis ,

Just updated both mapbox-gl-js and pencil-v7 today and can still reproduce the issue

Fabien

[2015-03-14 18:04] fnicollet commented on #972
Nevermind, I didn't update mapbox-gl-js properly (was on mb-pages, not master) and the issue is actually fixed in master, thanks for your help!

This issue can be closed

[2015-03-14 18:33] mourner commented on #972
Yay!

[2015-03-14 18:33] #972 closed

[2015-03-14 18:34] mourner commented on #972
@fnicollet or was your comment related to #974?

[2015-03-14 18:35] fnicollet commented on #972
Issue #972 can be closed but #974 is still there :)

[2015-03-15 00:30] aaronpdennis opened #1091 "vector tile source rendering at wrong zoom levels or wrong size?"
I'm running into a bug with rendering my own vector tile source and I'm not sure what's going wrong.

 `mapbox.mapbox-terrain-v2` and `mapbox.mapbox-streets-v6` are rendering just fine, but the tiles from my custom vector tile source `aarondennis.smMaxRecorded` appear to either be rendering a zoom level too late or rendering at 1/4 the width they should be.

There is a live version of this at http

[2015-03-15 14:04] meule opened #1092 "Do you plan to style features with their properties values?"
Like
`"icon-image": "{marker-symbol}"`
but for style:
`"fill-color": "{fillColor}"`

[2015-03-15 14:17] tmcw commented on #1092
Yep, and we have a ticket for it over at gl-style-spec: https://github.com/mapbox/mapbox-gl-style-spec/issues/249

[2015-03-15 16:34] #1092 closed

[2015-03-15 19:05] paulmach opened #1093 "Vector tile data rendered incorrectly if extent != 4096"
It looks like all vector tiles get rendered the same regardless of the extent value in the pbf file. By default this value is 4096 so usually everything is fine. However, [tippecanoe](https://github.com/mapbox/tippecanoe) generates tiles with extents of 1024 and 2048 and those display incorrectly in mapbox-gl-js

I created an example gist (sorry no live version) that renders 3 vector tiles, each w

[2015-03-15 20:52] tmcw opened #1094 "moveLayer API"
Right now with layerAdd and layerRemove you can emulate moving layers through the stack, but it does some extra work. A layerMove API would be very useful. I can take a shot at implementing this.

[2015-03-15 21:25] tmcw opened #1095 "getLayer(id), removeLayer(id), addLayer(layerwithid) fails"
You can't add a layer to a map that you got with getLayer and removed from a map because it is already parsed/mutated and mapbox-gl-js tries to reparse it.

[2015-03-15 23:24] incanus commented on #1093
Native side: https://github.com/mapbox/mapbox-gl-native/issues/250

[2015-03-16 10:05] mofoyoda commented on #1088
@jfirebaugh Did the fix pass CI? I still have an empty array in result.
I get mapbox-gl.js from here:
```<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.7.0/mapbox-gl.js'></script>```

[2015-03-16 11:53] mofoyoda commented on #1088
Also tested on local cloned master. Same empty array for ```featuresAt```.

[2015-03-16 14:13] aaronpdennis commented on #1091
Perhaps related to #250? I generated the tiles with tippecanoe

[2015-03-16 18:35] jfirebaugh commented on #1088
@mofoyoda We close issues when they are fixed in master, which is before they are in a released version. This fix will be in v0.8.0 -- if you need it urgently, please clone the repository and obtain the sources from there.

[2015-03-16 20:11] ansis commented on #803
added in https://github.com/mapbox/mapbox-gl-style-spec/pull/266

We could allow it for points but I'm not sure that it would be useful.

[2015-03-16 20:39] #803 closed

[2015-03-16 22:43] tmcw opened #1096 "featuresAt vs removeLayer() race condition"
https://github.com/mapbox/mapbox-gl-js/blob/master/js/style/style.js#L360

This can race with a removeLayer: you get a feature back async that's from a layer that's now removed, and thus you end up calling `.json()` of undefined.

[2015-03-16 23:20] fnicollet commented on #1074
I can reproduce this issue on FF 33.1.1 but Chrome 41.0.2272.89 m and IE11 are working fine

Reproduced with mapbox-gl v0.7.0 from https://api.tiles.mapbox.com/mapbox-gl-js/ on Windows 8

[2015-03-16 23:27] fnicollet commented on #1075
I make most of my tests in IE11 and I don't have this issue with current mapbox-gl master. Maybe cross-domain restrictions on fonts PBFs?

[2015-03-17 06:43] paulmach opened #1097 "Lines rendered skewed"
![screen shot 2015-03-16 at 11 30 07 pm](https://cloud.githubusercontent.com/assets/366320/6682392/611b5be0-cc35-11e4-9d29-3ddbd0f79eab.png)

Rendering many short lines. I expect them to be basically rotated rectangles, but they are skewed. There does not appear to be any consistency in the way they are skewed. The layer JSON is:
[code]
with the `time10on` class added.  I can provide a more detail

[2015-03-17 08:53] mofoyoda commented on #1088
@jfirebaugh That's exactly what I did: cloned from this repo, npm installed and switched my web page to local versions
[code]

[2015-03-17 11:16] stefda commented on #736
Now all seems to render correctly! Have there been any recent updates (three to four weeks) to the production code?

[2015-03-17 11:16] #736 closed

[2015-03-17 12:43] misterfresh opened #1098 "Do not hide markers at specified zoom level?"
I have a map where I set maxZoom at 9. At the moment for testing purposes I would like to show all markers at that zoom level, even if they overlap.

How can  I do that?

Thanks.

[2015-03-17 13:28] mourner commented on #1098
See `icon-allow-overlap` in the style spec https://www.mapbox.com/mapbox-gl-style-spec/#symbol

[2015-03-17 13:28] #1098 closed

[2015-03-17 17:19] jfirebaugh opened #1099 "control compound position option values should be hyphenated"
The spelling for the GL style `text-anchor` property is `bottom-left`, not `bottomleft`, for example. Let's make the control options and CSS classes consistent with that.

For example, [here](https://github.com/mapbox/mapbox-gl-js/blob/691b431db16d96b7c923c533bf2d504b72947ebd/js/ui/control/navigation.js#L23).

[2015-03-17 17:39] jfirebaugh commented on #736
Yes, several version releases. No idea what specifically would have resolved this though.

[2015-03-17 17:59] ansis commented on #1097
Would it be possible to get access to the source?

[2015-03-17 18:24] ansis opened #1100 "fix featuresAt"
featuresAt got broken by the perspective pr.

[2015-03-17 18:39] jfirebaugh commented on #1088
Sorry, I missed your comment where you said you were using master.

It looks like `featuresAt` is totally broken on master. [`TilePyramid#tileAt()`](https://github.com/mapbox/mapbox-gl-js/blob/691b431db16d96b7c923c533bf2d504b72947ebd/js/source/source.js#L72-72) always returns null.

@ansis Can you look at this? First guess it's related to tilt changes.

[2015-03-17 19:01] ansis commented on #1100
dupe of https://github.com/mapbox/mapbox-gl-js/issues/1088

[2015-03-17 19:01] #1100 closed

[2015-03-17 23:13] misterfresh commented on #1098
Thanks.

With the following code markers still can't seem to overlap :

[code]

[2015-03-18 01:56] paulmach commented on #1097
I might have done something weird, here is an example https://gist.github.com/paulmach/14bb232091a31f24b70d

What I did was use tippeecanoe to generate tiles with extent 256. Then I "manually" multiplied the move-to/line-to geometry values by 16 and set the extent to 4096 so they'd display correctly.  The difference between just having tippeecanoe generage 4096 extent tiles is that the geometry is

[2015-03-18 05:59] friedbunny opened #1101 "Glyph range truncated a bit short"
Same issue as mapbox/mapbox-gl-native/issues/931.

The glyph range is being truncated at [`65280`](https://github.com/mapbox/mapbox-gl-js/blob/241a07d0607447cbc393f2ccfab3f03e765ced13/js/symbol/glyph_source.js#L83) and [`65533`](https://github.com/mapbox/mapbox-gl-js/blob/241a07d0607447cbc393f2ccfab3f03e765ced13/js/symbol/resolve_text.js#L32), while the actual unicode block extends to `65535`. Thi

[2015-03-18 06:08] friedbunny commented on #1101
Looks like: [js/symbol/resolve_text.js](https://github.com/mapbox/mapbox-gl-js/blob/241a07d0607447cbc393f2ccfab3f03e765ced13/js/symbol/resolve_text.js#L32) and [resolve_text.test.js](https://github.com/mapbox/mapbox-gl-js/blob/241a07d0607447cbc393f2ccfab3f03e765ced13/test/js/symbol/resolve_text.test.js#L63-L74).

[2015-03-18 06:38] friedbunny commented on #1101
![screen shot 2015-03-17 at 11 36 05 pm](https://cloud.githubusercontent.com/assets/1198851/6703846/6ef34178-ccfe-11e4-870c-d8b5373d55e4.png)

Right is the fixed `４１`.

I'll look at the tests tomorrow and put this in a pull request.

[2015-03-18 08:52] peterqliu opened #1102 "fill-image flickers when zoom passes an integer value"
https://www.mapbox.com/bites/00108

[2015-03-18 15:41] tmcw opened #1103 "Document keybindings"
Follow-up to https://github.com/mapbox/mapbox-gl-js/pull/1034

* What keys are bound and what do they do?

[2015-03-18 15:49] mikemorris commented on #1101
:+1: thanks for catching this!

[2015-03-18 17:55] derrickpelletier opened #1104 "Rotate fires moveend events when it shouldn't"
Clicking on the compass in the navigation control and dragging to rotate the map seems to fire a `moveend` event for every pixel the cursor is moved while the mouse button has not been released.

Seems to me it shouldn't fire this event until the mouseup

[2015-03-18 17:58] mourner commented on #1104
Agreed.

[2015-03-18 18:08] peterqliu opened #1105 "Sprite+label issues"
New labeling code introduced two visual bugs:

- Labels with sprites now align to the line, instead of point
- Labels scrambled-- looks like two labels sitting overlapping?

Comparing v7 and the latest code at http://mapbox.s3.amazonaws.com/mapbox-gl-js/master/mapbox-gl.js, with identical styling and zoom level:

v7
![screen shot 2015-03-18 at 11 02 07 am](https://cloud.githubusercontent.com/asset

[2015-03-18 18:10] peterqliu opened #1106 "Reduced labeling density compared with v7"
New labeling code shows fewer labels. Same style and zoom level:

v7

![screen shot 2015-03-18 at 11 02 46 am](https://cloud.githubusercontent.com/assets/4551508/6715959/46fc4816-cd5f-11e4-9da0-c5667e49b4f3.png)

new labeling code

![screen shot 2015-03-18 at 11 02 36 am](https://cloud.githubusercontent.com/assets/4551508/6715967/4f3e1108-cd5f-11e4-8b25-99aea1dcff21.png)

[2015-03-18 18:11] derrickpelletier opened #1107 "Map 'moveend' event fires when clicking outside of element."
Quick gist of a test case: https://gist.github.com/derrickpelletier/0f4a44885c92d1e22d7a

Element is contained to top left 400x400 area, clicking anywhere else in the document will trigger the `moveend` event to perform the `console.log`.

Fortunately it at least adheres to only firing on mouseup.

`target` property on the object passed to the event seems to indicate it believes it is coming from

[2015-03-18 18:58] ansis commented on #1105
I think `http://mapbox.s3.amazonaws.com/mapbox-gl-js/master/mapbox-gl.js` might not be up to date. With a local version of master I'm seeing
![screen shot 2015-03-18 at 11 57 58 am](https://cloud.githubusercontent.com/assets/1421652/6716944/109fba30-cd66-11e4-8476-e0be239e462a.png)

[2015-03-18 19:27] ansis commented on #1106
I'm seeing this with `http://mapbox.s3.amazonaws.com/mapbox-gl-js/master/mapbox-gl.js`:

![screen shot 2015-03-18 at 12 23 48 pm](https://cloud.githubusercontent.com/assets/1421652/6717448/b02b63a8-cd69-11e4-9abb-f91cb4695ada.png)

There are few labels because neighbourhood labels have a huge amount of padding (100px). The collision boxes can be enabled with `map.collisionDebug = true`.

![screen

[2015-03-18 19:48] #1105 closed

[2015-03-18 19:49] ansis commented on #1105
It was still failing in some cases. c35ca56 should fix it everywhere. Rendering tests were already correct.

[2015-03-18 20:22] ansis commented on #1097
Thanks for the great test case!

One of the lines (with bigger width, transparency and round caps) looks like this:

![screen shot 2015-03-18 at 1 14 07 pm](https://cloud.githubusercontent.com/assets/1421652/6718409/c13eaf04-cd70-11e4-94c4-1bd1558b518a.png)

The point values:

[code]

When tessellating the line into triangles it uses these big values to calculate the offsets, but when they are add

[2015-03-18 20:27] ansis commented on #1102
This is fixed in master already.

[2015-03-18 20:27] #1102 closed

[2015-03-18 21:34] paulmach commented on #1097
Yes, this was my bad. Signed bit shift issue. I guess the impact was magnified in this test case. Sorry to trouble you.

[2015-03-18 21:34] #1097 closed

[2015-03-18 22:04] #1101 closed

[2015-03-18 22:10] ansis commented on #1066
@fnicollet that looks like a style problem. I opened an issue here: https://github.com/mapbox/mapbox-gl-styles/issues/41

@kristfal can you check if the problem still exists with the latest master? we just merged a rewrite of label placement: https://github.com/mapbox/mapbox-gl-js/pull/1079

[2015-03-18 23:26] tmcw opened #1109 "ImageSprite leaks image"
The imagesprite code creates a temporary image to get its data, stores the data in img, but keeps a reference to that image. https://github.com/mapbox/mapbox-gl-js/blob/fontstack-array/js/style/image_sprite.js#L42

This seems like a leak: the [image isn't removed when the style is](https://github.com/mapbox/mapbox-gl-js/blob/fontstack-array/js/style/style.js#L366-368), it isn't used anywhere, and

[2015-03-19 01:42] ansis commented on #1106
Closing because I think this is a style issue. If you hit any other problems open a new issue.

[2015-03-19 01:42] #1106 closed

[2015-03-19 02:02] ansis opened #1110 "handle non-Basic-Multilingual-Plane characters"
from https://github.com/mapbox/mapbox-gl-js/pull/1108#issuecomment-83258559

https://github.com/mapbox/mapbox-gl-js/blob/4935a4bbf81b78897b9e29013ac9e461f59038d9/js/symbol/resolve_text.js#L31

This isn't critical. Probably not common enough to be worth the effort.

It sounds like if we currently encounter one of these characters it will be displayed as random characters and the last character will

[2015-03-19 03:24] mikemorris commented on #1110
We're currently not baking any glyph pbfs in this range, node-fontnik is hardcoded to stop at 65535. That algorithm could be reasonable if we implement this at some point.

[2015-03-19 07:46] peterqliu commented on #1106
this was it :+1: thanks

[2015-03-19 12:50] kristfal commented on #1066
@ansis Still seeing line issues after building the latest master, same issue on GL native (not the most recent master) as well, but significantly fewer collisions in the same places.

Also noticed that two line labels from the same line can collide at certain zoom levels (screenshot nr 2).

![screenshot 2015-03-19 13 40 18](https://cloud.githubusercontent.com/assets/5638107/6730622/a1aa6114-ce3e-1

[2015-03-19 21:30] peterqliu opened #1112 "Handling sprites in perspective"
Elements near the viewer are scaled up, compared to than those far away. This works well for most things, but not rasterized sprites (enlarge to see blurriness):

![screen shot 2015-03-19 at 2 24 54 pm](https://cloud.githubusercontent.com/assets/4551508/6741356/0f5ca05a-ce44-11e4-827c-11fc68f7a3ce.png)

Three ways around this:

- Only scale sprites down for far things, but keep original size for c

[2015-03-19 21:52] peterqliu opened #1113 "Preserve text-translate when map is in perspective"
Check out how the labels' ascenders start running into the symbol when map gets tilted back:

![textranslate](https://cloud.githubusercontent.com/assets/4551508/6741772/9bdf5182-ce47-11e4-8806-9d38af8c0002.gif)

cc @ansis

[2015-03-19 22:12] ansis commented on #1113
I think you want to use `text-offset` instead of `text-translate` here

[2015-03-20 02:27] #917 closed

[2015-03-20 02:27] #1053 closed

[2015-03-20 02:27] #1088 closed

[2015-03-20 13:13] mourner commented on #855
@jfirebaugh just wondering, did you try https://github.com/evanw/node-source-map-support?

[2015-03-20 17:15] peterqliu opened #1115 "enable line breaks after hyphens"
For line break purposes, treat hyphens as spaces:

![screen shot 2015-03-20 at 10 14 16 am](https://cloud.githubusercontent.com/assets/4551508/6756875/14a30bf2-ceea-11e4-9870-18d54918ff6c.png)

Would be
[code]

[2015-03-20 19:03] ansis opened #1116 "what is the expected behavior of animOptions.offset in the easing functions?"
@mourner what is the expected behavior of animOptions.offset in the easing functions?
I was going to try to finish up https://github.com/mapbox/mapbox-gl-js/pull/735 but I realized I didn't know what they were supposed to do.

- `panBy` ??
- `panTo` ??
- `zoomTo` center the zoom around `centerPoint.add(offset)` so that the location at that point is the same before and after the zoom
- `rotateTo` c

[2015-03-20 20:31] peterqliu opened #1117 "Label collision dead zones"
https://www.mapbox.com/bites/00108/#14.79/42.3398/-71.0749

At this exact zoom, there are almost no street labels-- zoom in or out slightly, and they reappear

cc/ @ansis

[2015-03-20 20:39] #1113 closed

[2015-03-20 20:55] mourner commented on #1117
yeah looks like a bug

![image](https://cloud.githubusercontent.com/assets/25395/6760717/30f33c18-cf54-11e4-9be5-2855b336e11e.png)

[2015-03-20 20:56] mourner commented on #1117
Zooming in further, I see these stripes going through the screen - might be related:

![image](https://cloud.githubusercontent.com/assets/25395/6760738/57b7a79e-cf54-11e4-9b6c-25042833137e.png)

[2015-03-20 21:22] mourner commented on #1116
Basically `offset` changes the behavior of each method in a way as if map center was in a different point. This is especially useful if you have e.g. semitransparent sidebar on the right, which makes your map center shift to the left. Using `offset` in this case is more convenient since you don't have to calculate actual center and recalculate every time the map resizes.

In case on `panBy`, offse

[2015-03-21 00:18] ansis commented on #1117
The "us_interstate_label" layer has `"text-padding": 1000`.

[2015-03-21 00:18] #1117 closed

[2015-03-21 01:19] peterqliu commented on #1117
that does tend to do it, doesn't it?

[2015-03-21 19:52] jfirebaugh commented on #855
Yes. It's only for exception stack traces though, doesn't help with debugging or code coverage.

[2015-03-22 14:54] mofoyoda opened #1119 "new mapboxgl.Source returns TypeError"
When declaring ```mapboxgl.Source``` variable, I get a ```Uncaught TypeError: undefined is not a function```
Reproduced in a fiddle http://jsfiddle.net/mofoyoda/16dLrLp8/3/
Code copied from API doc.

[2015-03-23 16:08] mofoyoda commented on #1115
Is there a way to pass the line break symbol to ```text-field``` property?
If that is possible, I could break long strings in a database query etc.

[2015-03-23 18:29] #1099 closed

[2015-03-23 18:30] derrickpelletier opened #1120 "Strange rendering behaviours on neighbouring polys"
Here's the example polys i'm dealing with. I'm getting this case a lot in my dataset.
http://geojson.io/#id=gist:derrickpelletier/120f98456aa008220767&map=15/37.7060/-122.4393

The point where the left poly fits into the right poly, those vertices are shared, so directly overlapping mesh.

I have two `fill` layers, one for each of the polys using a filter.
And a `line` layer on top of those.

The

[2015-03-23 18:55] jfirebaugh commented on #1119
The API docs reflect the last released version (0.7.0). Since then, `mapboxgl.Source` was removed as a public API. It will be removed from the docs in the next release.

[2015-03-23 18:55] #1119 closed

[2015-03-23 19:17] peterqliu opened #1121 "Some lines are not rendering: line-dasharray:[1,0]"
At https://www.mapbox.com/bites/00108/#14.72/48.8621/2.3456, the weird dashed line is a [tunnel casing](https://github.com/mapbox/mapbox-gl-styles/blob/mb-pages/styles/emerald-v7.json#L554-L577) missing its [core](https://github.com/mapbox/mapbox-gl-styles/blob/mb-pages/styles/emerald-v7.json#L688-L709).

![screen shot 2015-03-23 at 12 16 06 pm](https://cloud.githubusercontent.com/assets/4551508/6

[2015-03-23 19:27] peterqliu commented on #1121
@ansis found it was a rendering bug with `line-dasharray:[1,0]`

[2015-03-24 00:01] mofoyoda commented on #1119
But if I use ```map.addSource``` instead, how can I access the source later on to change its properties?

[2015-03-24 00:05] jfirebaugh commented on #1119
You can use `map.getSource()`. However, note that the only public API for the result will be to do `setData()` on a GeoJSON source. If that's what you want, great. If you're trying to do something else, let me know what and I can suggest an alternative.

[2015-03-24 00:17] mofoyoda commented on #1119
Thanks, @jfirebaugh that's partly what I want. Is there a way to exclude certain feature from data in a VectorTile source? I need an inverted hover effect - when mouse is over an object, hide it instead of highlighting. So I guess I have to dynamically add filter to a layer, or pull the feature out of the data, then put it back.

[2015-03-24 00:25] jfirebaugh commented on #1119
Cool -- sounds like you want `map.setFilter`. I just documented it: 2406d8775c4625c23f8609e822e35e8cd3b6f355.

[2015-03-24 00:31] mofoyoda commented on #1119
@jfirebaugh Thanks, looks like it. Can I do the same with paint classes? I.e. add a class with a certain name to a layer definition, so that ```map.AddClass``` affects only specific layers.

[2015-03-24 20:16] jfirebaugh commented on #1119
Yes, with `map.setPaintProperty()`. 3983649664b16d3002858a7545241494c0c17765

[2015-03-24 20:22] samanpwbb opened #1122 "polygon simplification tends to shrink things"
This is zoom level 0, but the problem is pretty noticeable down to z2:

![screen shot 2015-03-24 at 4 11 45 pm](https://cloud.githubusercontent.com/assets/108094/6811744/7db82308-d240-11e4-84ca-7726e182640d.png)

All complex polygons are smaller that they should be. Like everything has 10% shaved off. I would expect simplification to try to keep things roughly the same perceived size.

[2015-03-24 20:50] mourner commented on #1122
Doesn't look like polygon simplification, it's something style/rendering-related...

[2015-03-24 20:53] samanpwbb commented on #1122
Heh, you're totally right. I just went to make an isolated test case and then things looked way better. Something's up with this particular style.

[2015-03-24 20:53] #1122 closed

[2015-03-25 17:12] derrickpelletier opened #1123 "Additional Controls"
Just wanted to get some info on the plans for more controls.

Is the plan to have some controls embedded in the core, like how Geocoder is part of `mapbox.js`, or is it to be more of a plugin style, like the fullscreen component?

I ported both to use with `mapbox-gl-js`, but just quick versions for prototyping.

[2015-03-25 17:50] jfirebaugh commented on #1123
A geocoder control would likely be an external plugin. Written and maintained by Mapbox but in a separate repo.

[2015-03-25 17:50] #1123 closed

[2015-03-25 20:44] ansis opened #1124 "port sprite scaling"
https://github.com/mapbox/mapbox-gl-native/commit/48c55af5c1d39e9a29cdb2e0c8203e6767f76c57

I'm not sure that scaling up images when adding them to the sprite atlas is the right approach. They'll get bilinearly interpolated again when they are sampled in gl. Doing this in two separate steps instead of letting gl handle the scaling might produce blurrier results.

[2015-03-25 20:58] ansis commented on #859
To draw polygons, we current make a stencil of which pixels are within any polygon and which aren't. We then paint all pixels within the stencil once, so even if multiple polygons cover the same pixel the pixel will get coloured once.

When we switch to https://github.com/mapbox/mapbox-gl-js/pull/948 for drawing fills overlapping polygons will be drawn as expected. They should already be drawn thi

[2015-03-25 21:20] nickidlugash commented on #859
@ansis is it possible to separate this out into a different property, per https://github.com/mapbox/mapbox-gl-style-spec/issues/273? Both are ways of declaring opacity are very useful.

[2015-03-25 23:34] ansis opened #1125 "Use higher resolution sprite to improve rotated / scaled icon rendering"
When icons are not rendered at their original resolution and orientation, we use linear filtering to get the scaled/rotated version. It may be good to use a higher resolution source image to offset the blurriness caused by linear filtering.

I'm not sure this makes sense.

We use linear filtering for:
- fill and line patterns
- icons that are rotated (one way arrows)
- icons that are scaled (every

[2015-03-25 23:39] 1ec5 opened #1126 "Match the user’s language"
Along the lines of mapbox/mapbox-gl-native#1108, it should be possible for the map to show labels in the user’s language (`navigator.languages` or `navigator.language`). Apple Maps for example provides a localization option to the user.

[2015-03-26 02:02] ansis commented on #1124
@kkaefer can you comment on why it's preferable to scale images when adding them to the sprite instead of just scaling them in gl?

[2015-03-26 10:00] kkaefer commented on #1124
We're doing this in response to pixel ratio changes: When pixel ratio of the map changes (e.g. the user drags the window to a screen with different pixel density), we're scaling the existing sprite atlas immediately, and kick of loading the sprite for the new pixel ratio. This takes some time though; and meanwhile we're showing the old (scaled) sprite. However, we need the space so we can update t

[2015-03-26 10:01] kkaefer commented on #1124
Secondly, we're only doing bilinear interpolation when the user is dragging/rotating the map, not when it's standing still.

[2015-03-26 16:11] ansis commented on #1124
How often do pixel density changes happen? It seems like something that happens rarely on the web and almost never on mobile. I'm not sure it's something we need to handle at all as long as the old images render at the right size. Or we could just blow everything away and reparse tiles.

We're doing it when the map is standing still for
- patterns
- icons aligned with lines (oneway arrows)
- every

[2015-03-26 18:06] bsudekum opened #1128 "Add easing to `map.setPitch()`"
I think a lot people will end up using wrapping this function in a `setInterval` to get a smooth animation like:

[code]

Would it make sense to add a second optional argument to take care of this for devs? Something like `map.setPitch(angle, speed);`

/cc @ansis

[2015-03-26 18:12] ansis commented on #1128
@bsudekum this is taken care of with `map.easeTo(latlng, zoom, bearing, pitch, options)`.

`easeTo`'s arguments might change in the near future: https://github.com/mapbox/mapbox-gl-js/issues/1051.

It probably makes sense to keep `setPitch` simple and instant just like `setZoom`, `setCenter`, `setBearing`.

[2015-03-26 18:12] #1128 closed

[2015-03-26 22:46] #1087 closed

[2015-03-27 22:22] apollolm opened #1129 "Vector Tile feature-level access"
Howdy.  Just a question/possible enhancement.

I'd like to be able to get access to individual features without having to use featuresAt().  What I'm trying to do is access/inject dynamic properties into the vector tiles features that are currently loaded in the map, and subsequently create a choropleth map. Digging thru the code, it looks like I might be able to get access to features on a tile-b

[2015-03-27 23:38] jfirebaugh commented on #1129
Hi Ryan, It sounds like your underlying need is to style the data based on its attributes. Take a look at https://github.com/mapbox/mapbox-gl-style-spec/issues/249 for our plans on that front and let me know if it sounds promising for your use case.

[2015-03-28 02:25] apollolm commented on #1129
Thanks - That will probably handle the styling piece.
As far as the access to features and properties - I currently bake vector tiles usually with an ID and maybe a label property.  Other properties are changing frequently, or are not known ahead of time.  What I do is hit an API to pull down additional properties at run time (based on user defined filters, perhaps) and then add the properties int

[2015-03-28 02:25] #1129 closed

[2015-03-29 00:54] peterqliu opened #1130 "Symbol placement: line is sometimes misaligned"
![screen shot 2015-03-28 at 5 50 22 pm](https://cloud.githubusercontent.com/assets/4551508/6883619/07d6b6dc-d573-11e4-8507-d60807164395.png)

These one-way arrows are drawn by [rendering road layer as symbols](https://github.com/mapbox/mapbox-gl-styles/blob/mb-pages/styles/emerald-v7.json#L5366-L5423), and using a unicode `arrow` as the symbol text. Why is one symbol aligned perfectly in the road'